<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimum-scale=1, maximum-scale=1")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(name="author" content="MasterVision")
		meta(name="description" content="«MasterVision» | О нас")
		link(rel="icon" type="image/x-icon" href="favicon.ico")
		link(rel="shortcut icon" type="image/x-icon" href="favicon.png")
		title «MasterVision» | О нас
		link(rel="stylesheet" href="css/bootstrap.min.css")
		link(rel="stylesheet" href="css/styles.css")
	body#articles
		include pug/header
		include pug/about/main_screen
		include pug/about/about_nums
		include pug/about/team
		include pug/about/team_footer
		include pug/scripts