section#main_screen
	.container
		include ../menu
		h1.main_title Упражнения на проверку и развитие экстрасенсорных способностей
		h2.main_subtitle Мы восхищаемся людьми, которые могут видеть и чувствовать то, что для обычного человека является скрытым. А что, если Вы также обладаете такого плана способностями, но, не обладая информацией, даже не пытаетесь их развивать?