section#main_screen
	.container
		include ../menu
		h1.main_title Личная консультация
		h2.main_subtitle Решение ваших проблем в сфере бизнеса, здоровья, личных отношений...
			br 
			| Консультация у опытного специалиста — это эффективная помощь в сложной жизненной ситуации, совет, практические рекомендации  и поддержка.