section#consultation_order
	.container
		form(action="#!" method="POST").feedback_form.consult_form
			h3 Заявка на личную консультацию
			input(type="text" name="first-name" required placeholder="Ваше имя")
			input(type="text" name="last-name" required placeholder="Ваша фамилия")
			input(type="tel" name="phone" required placeholder="Ваш телефон")
			input(type="text" name="skype" required placeholder="Ваш skype")
			textarea(name="msg" required placeholder="Запрос (расскажите о Вашей проблеме)")
			.checking
				input(type="checkbox" id="check" checked).check
				label(for="check").check_label Я согласен с 
					a(href="javascript:void(0);")(data-toggle="modal" data-target="#myPolitics") условиями обработки 
					| персональных данных
			button.button(type="submit")(onclick="return false") Отправить
		h5 Примеры запросов
		p Если Вы не знаете, как правильно изложить свою проблему, посмотрите примеры и сформулируйте запрос по аналогии
		.row
			.col-md-6.col-sm-6.col-xs-12
				.request_example
					p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Малеит по всей стране и обеспечивает ее всеми необходимыми правилами. Далеко-далеко за словесныране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек...
			.col-md-6.col-sm-6.col-xs-12
				.request_example
					p Далеко-далеко за словесными горами в стране гласных и согласнми правилами. Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек...
		h3 Наши специалисты
		.row#our_specialists
			.col-md-3.col-sm-6.col-xs-12
				.our_specialist
					img(src="img/pc_photo_1.png", alt="Специалист")
					h4 Имя Фамилия Отчество
					p астролог, таролог
			.col-md-3.col-sm-6.col-xs-12
				.our_specialist
					img(src="img/pc_photo_2.png", alt="Специалист")
					h4 Имя Фамилия Отчество
					p астролог, таролог
			.col-md-3.col-sm-6.col-xs-12
				.our_specialist
					img(src="img/pc_photo_3.png", alt="Специалист")
					h4 Имя Фамилия Отчество
					p астролог, таролог
			.col-md-3.col-sm-6.col-xs-12
				.our_specialist
					img(src="img/pc_photo_1.png", alt="Специалист")
					h4 Имя Фамилия Отчество
					p астролог, таролог
		button.all_posts.all_specialists Все специалисты
		.row#our_specialists_more
			.col-md-3.col-sm-6.col-xs-12
				.our_specialist
					img(src="img/pc_photo_1.png", alt="Специалист")
					h4 Имя Фамилия Отчество
					p астролог, таролог
			.col-md-3.col-sm-6.col-xs-12
				.our_specialist
					img(src="img/pc_photo_2.png", alt="Специалист")
					h4 Имя Фамилия Отчество
					p астролог, таролог
			.col-md-3.col-sm-6.col-xs-12
				.our_specialist
					img(src="img/pc_photo_3.png", alt="Специалист")
					h4 Имя Фамилия Отчество
					p астролог, таролог
			.col-md-3.col-sm-6.col-xs-12
				.our_specialist
					img(src="img/pc_photo_1.png", alt="Специалист")
					h4 Имя Фамилия Отчество
					p астролог, таролог
			.col-md-3.col-sm-6.col-xs-12
				.our_specialist
					img(src="img/pc_photo_1.png", alt="Специалист")
					h4 Имя Фамилия Отчество
					p астролог, таролог
			.col-md-3.col-sm-6.col-xs-12
				.our_specialist
					img(src="img/pc_photo_2.png", alt="Специалист")
					h4 Имя Фамилия Отчество
					p астролог, таролог
			.col-md-3.col-sm-6.col-xs-12
				.our_specialist
					img(src="img/pc_photo_3.png", alt="Специалист")
					h4 Имя Фамилия Отчество
					p астролог, таролог
			.col-md-3.col-sm-6.col-xs-12
				.our_specialist
					img(src="img/pc_photo_1.png", alt="Специалист")
					h4 Имя Фамилия Отчество
					p астролог, таролог