section#about_esoteric
    .container
        .row
            .col-md-8.col-sm-6.col-xs-12
                #about_eso_video_container  
                    h4.about_esoteric_title Почему важно заниматься саморазвитием?
                        br
                        small Александр Кудряшов
                    .video_wrapper(data-youtube="0C9Bwzai1XU")
                        img(src="img/about_eso.jpg", alt="Василий Попов об Эзотерике")
            .col-md-4.col-sm-6.col-xs-12
                form(action="https://aleksandrkudryashov1.autoweboffice.ru/?r=personal/newsletter/sub/add&id=3568&lg=ru" method="post" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8" target="_blank").main_form
                    h4.main_form_title Начните обучение бесплатно!
                    p.main_form_subtitle Получите подборку обучающих материалов по эзотерике!
                    input(value="1" name="required_fields[email]" type="hidden")
                    input(class="main_form_email" maxlength="255" name="Contact[email]" placeholder="Ваш E-mail")
                    button(type="submit" ).main_form_button Получить материалы
                    input(value="65" name="Contact[id_newsletter]" type="hidden")
                    input(value="0" name="Contact[id_advertising_channel_page]" type="hidden")
                #students_num
                    h5 В Master Vision обучилось более
                    p 1 800
                        br
                        span студентов