mixin lp(cat, src,h, p,time)
    a(href="single_article").lp_single
        p.lp_cat= cat
        img.lp_thumbnail(src= src, alt= h)
        .lp_about
            h4.lp_title= h
            p= p
        .arrow_more &rarr;
        .lp_seen
            i.fa.fa-eye(aria-hidden="true") 
            | 32


section#last_posts
    .container
        .row
            .col-md-3.col-sm-3.col-md-3.title_an_rules
                h3 Последние статьи на сайте
                //- .slider_nav
                //-     a(href="javascript:void(0);").cir_arrow.cir_prev &larr;
                //-     a(href="javascript:void(0);").cir_arrow.cir_next &rarr;
                a(href="javascript:void(0);", target="_blank").all_posts Все статьи
            #last_posts_slider
                +lp('Экстрасенсорика', 'img/lp_pic_1.jpg' ,'Дистанционное видение, основанное на интуиции','Наиболее успешны люди, которые обладают сильной интуицией. Как её развить, сделать инструментом ...')
                +lp('Астрология', 'img/lp_pic_2.jpg' ,'Исцеляющая астрология','Чего проще? — заходи в сеть и ищи, какой дом отвечает за здоровье. Какая управляющая планета у вас в этом доме?...')
                +lp('Психология', 'img/lp_pic_3.jpg' ,'Идеальный подход в поиске совместимости партнеров','Мечтать о счастливой совместной жизни с партнёром не запретишь! Но всем ли женщинам удаётся...')
                +lp('Астрология', 'img/lp_pic_2.jpg' ,'Исцеляющая астрология','Чего проще? — заходи в сеть и ищи, какой дом отвечает за здоровье. Какая управляющая планета у вас в этом доме?...')