section#main_screen
	.container
		include ../menu
		h1.main_title Ближайшие мероприятия
	#main_slider_container
		#main_slider
			a(href="javascript:void(0);").item
				img(src="img/banner_2.jpg", alt="Баннер 1")
			a(href="javascript:void(0);").item
				img(src="img/banner_2.jpg", alt="Баннер 2")
			a(href="javascript:void(0);").item
				img(src="img/banner_2.jpg", alt="Баннер 2")