mixin cir(src, cat, h, author,time)
    .cir_single
        img.cir_img(src= src, alt= h)
        p.cir_cat= cat
        h4.cir_title= h
        p.cir_author= author
        a.cir_button(href="javascript:void(0);", target="_blank") Купить за 970р.
        p.cir_time 
            img(src="img/clock.png", alt="Время")
            =time

section#courses_in_record
    .container
        .row
            .col-md-3.col-sm-3.title_an_rules
                h3 Курсы в записи
                p.course_nums 12 курсов
                //- .slider_nav
                //-     a(href="javascript:void(0);").cir_arrow.cir_prev#demo5-backward &larr;
                //-     a(href="javascript:void(0);").cir_arrow.cir_next#demo5-forward &rarr;
            #cir_slider
                +cir('img/course_rec_1.jpg','Магия','Секреты рун','Василий Попов','04:35:40')
                +cir('img/course_rec_2.jpg','Нумерология','Магия цифр','Ольга Герасимова','04:35:40')
                +cir('img/course_rec_1.jpg','Таро','Секреты Таро','Василий Попов','04:35:40')
                +cir('img/course_rec_1.jpg','Магия','Секреты рун','Василий Попов','04:35:40')