mixin ww(h4,p)
    .wy_container
        .wy_img
        h4.why_title= h4
        p.why_par= p

section#why_we
    .container
        h3 Почему важно учиться именно у нас?
        .row
            .col-md-4.wy_wrapper
                +ww('Практический опыт','Домашние задания после каждого занятия помогут вам освоить новые навыки и внедрить полученные знания в свою жизнь уже за время занятий')
            .col-md-8.wy_wrapper
                .wy_container
                    h4.why_title Обучение проходит в онлайн-формате, а значит вы имеете доступ с любой точки мира!
                    p.why_par Наши тренинги проходят в формате вебинаров. Вы можете участвовать онлайн  или смотреть записи в удобное для вас время
            .col-md-4.wy_wrapper
                +ww('Обратная связь','Вы сможете задать вопросы тренерам, получить разбор выполненных задач и рекомендации по дальнейшим шагам')
            .col-md-4.wy_wrapper
                +ww('Ориентированность','Специально разработанные программы развития ориентируются на каждого нашего учащегося с учетом его предрасположенностей')
            .col-md-4.wy_wrapper
                +ww('Нам важен ваш результат','На наших консультациях Вы можете определить собственные сильные стороны и направления роста, что сделает Ваше обучение еще более эффективным')
