#we_in_numbers
    background-color #fff
    padding: 94px 0 65px
    text-align: center
    h3
        font-size: 32px;
        font-family: "HelveticaNeueCyrBold", sans-serif;
        color: rgb(37, 37, 37);
        line-height: 1.25;
        margin-bottom: 30px
        &+p
            font-size: 18px;
            font-family: "HelveticaNeueCyrRoman", sans-serif;
            color: rgba(85, 94, 124, 0.8);
            line-height: 1.444;
            width: 384px;
            margin: 0 auto 90px
    h5
        font-size: 24px;
        font-family: "HelveticaNeueCyrMedium", sans-serif;
        color: rgb(37, 37, 37);
        line-height: 1.1
        margin: 61px 0 40px
    .button
        height 55px
        line-height: 55px
        width: 300px
.num_title
    font-size: 24px;
    font-family: "HelveticaNeueCyrBold", sans-serif;
    color: rgb(37, 37, 37);
    line-height: 1.3
.counted
    font-size: 75px;
    font-family: "HelveticaNeueCyrLight", sans-serif;
    color: #5a59fe
    line-height: 1
    margin 23px 0 19px
    &+p
        font-size: 20px;
        font-family: "HelveticaNeueCyrRoman", sans-serif;
        color: rgba(85, 94, 124, 0.8);
        line-height: 1.3;
#our_team
    padding: 100px 0 70px
    h3
        font-size: 42px;
        font-family: "HelveticaNeueCyrBlack", sans-serif;
        color: rgb(37, 37, 37);
        line-height: 1.167;
        margin 0
    h4
        font-size: 32px;
        font-family: "HelveticaNeueCyrBold", sans-serif;
        color: rgb(37, 37, 37);
        line-height: 1.25;
        margin-bottom: 60px
.team_subtitle
    font-size: 20px;
    font-family: "HelveticaNeueCyr";
    color: rgba(85, 94, 124, 0.8);
    line-height: 1.45;
    margin: 40px 0 70px
    max-width 600px
.team_card
    border-radius: 3px;
    background-color: #fff
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.2);
    width: 554px;
    height: 370px;
    margin-bottom: 30px
    position relative
    padding: 50px 30px
    z-index 9
    cursor pointer
    h5
        font-size: 22px;
        font-family: "HelveticaNeueCyrBold", sans-serif;
        color: rgb(37, 37, 37);
        line-height: 1.1;
        margin-bottom: 30px
    p
        font-size: 16px;
        font-family: "HelveticaNeueCyrRoman", sans-serif;
        color: rgba(85, 94, 124, 0.8);
        line-height: 1.4
        max-width 225px
    .arrow_more
        position: absolute
        left: 30px
        bottom: 155px
    .coach
        position: absolute
        top 0
        right 0
        height 370px
        width 300px
        background-position top left
        background-repeat no-repeat
        z-index -1
.organizers
    margin-bottom: 35px
    &:first-of-type
        .team_card
            .coach
                background-image url(../img/alex.jpg)
    &:last-of-type
        .team_card
            .coach
                background-image url(../img/andrey.jpg)
