#we_in_numbers
    background-color #fff
    padding: 94px 0 65px
    text-align: center
    h3
        font-size: 32px;
        font-family: "HelveticaNeueCyrBold", sans-serif;
        color: rgb(37, 37, 37);
        line-height: 1.25;
        margin-bottom: 30px
        &+p
            font-size: 18px;
            font-family: "HelveticaNeueCyrRoman", sans-serif;
            color: rgba(85, 94, 124, 0.8);
            line-height: 1.444;
            width: 384px;
            margin: 0 auto 90px
    h5
        font-size: 24px;
        font-family: "HelveticaNeueCyrMedium", sans-serif;
        color: rgb(37, 37, 37);
        line-height: 1.1
        margin: 61px 0 40px
    .button
        height 55px
        line-height: 55px
        width: 300px
.num_title
    font-size: 24px;
    font-family: "HelveticaNeueCyrBold", sans-serif;
    color: rgb(37, 37, 37);
    line-height: 1.3
.counted
    font-size: 75px;
    font-family: "HelveticaNeueCyrLight", sans-serif;
    color: #4745d7
    line-height: 1
    margin 23px 0 19px
    &+p
        font-size: 20px;
        font-family: "HelveticaNeueCyrRoman", sans-serif;
        color: rgba(85, 94, 124, 0.8);
        line-height: 1.3;
#our_team
    padding: 92px 0 70px
    h3
        font-size: 42px;
        font-family: "HelveticaNeueCyrBlack", sans-serif;
        color: rgb(37, 37, 37);
        line-height: 1.167;
        margin 0
    h4
        font-size: 32px;
        font-family: "HelveticaNeueCyrBold", sans-serif;
        color: rgb(37, 37, 37);
        line-height: 1.25;
        margin-bottom: 58px
    h6
        font-size: 24px;
        font-family: "HelveticaNeueCyrMedium", sans-serif;
        color: rgb(37, 37, 37);
        line-height: 1.1
        text-align: center;
        margin: 66px 0 41px
        &+.button
            display block
            margin 0 auto
            width: 300px
            height 55px
            line-height 55px
.team_subtitle
    font-size: 20px;
    font-family: "HelveticaNeueCyr";
    color: rgba(85, 94, 124, 0.8);
    line-height: 1.45;
    margin: 31px 0 58px
    max-width 600px
.team_card
    border-radius: 3px;
    background-color: #fff
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.2);
    width: 554px;
    height: 370px;
    margin-bottom: 30px
    position relative
    padding: 58px 30px
    z-index 9
    cursor pointer
    overflow hidden
    h5
        font-size: 22px;
        font-family: "HelveticaNeueCyrBold", sans-serif;
        color: rgb(37, 37, 37);
        line-height: 1.1;
        margin-bottom: 16px
    p
        font-size: 16px;
        font-family: "HelveticaNeueCyrRoman", sans-serif;
        color: rgba(85, 94, 124, 0.8);
        line-height: 1.4
        max-width 225px
    .arrow_more
        position: absolute
        left: 30px
        bottom: 155px
    .coach
        position: absolute
        bottom 0
        right 0
        height calc(100% - 20px)
        width auto
        background-position top left
        background-repeat no-repeat
        z-index -1
.organizers
    margin-bottom: 35px
//     &:first-of-type
//         .team_card
//             .coach
//                 background-image url(../img/alex.jpg)
//     &:last-of-type
//         .team_card
//             .coach
//                 background-image url(../img/andrey.jpg)
// .coaches
//     &:first-of-type
//         .team_card
//             .coach
//                 background-image url(../img/basile.jpg)
//     &:nth-of-type(2)
//         .team_card
//             .coach
//                 background-image url(../img/veda.jpg)
//     &:nth-of-type(3)
//         .team_card
//             .coach
//                 background-image url(../img/janna.jpg)
//     &:nth-of-type(4)
//         .team_card
//             .coach
//                 background-image url(../img/victor.jpg)
//     &:nth-of-type(5)
//         .team_card
//             .coach
//                 background-image url(../img/alex.jpg)
//     &:nth-of-type(6)
//         .team_card
//             .coach
//                 background-image url(../img/regina.jpg)
.title_block
    height 400px
    position: relative
    padding 80px 40px 0
    margin 0 -15px
    h5
        font-size: 30px;
        font-family: "HelveticaNeueCyrBlack", sans-serif;
        color: rgb(37, 37, 37);
        line-height: 1.4;
        margin: 0 0 30px
        position relative
        z-index 9
        &+p
            font-size: 15px;
            font-family: "HelveticaNeueCyrRoman", sans-serif;
            color: rgba(68, 71, 103, 0.8);
            line-height: 1.55;
            max-width 210px
            position relative
            z-index 9
    img
        height: inherit;
        position: absolute
        bottom: 0
        right: 0
        z-index 0
.competences
    margin: 0 -15px
    background-color: #F7F8FA
    padding: 60px 40px 45px
    h6
        font-size: 27px;
        font-family: "HelveticaNeueCyrBold";
        color: rgb(37, 37, 37);
        line-height: 1
        margin-bottom: 33px
    ul
        list-style disc
        margin-left: 20px
        li
            color: #363DE4
            font-size: 18px;
            font-family: "HelveticaNeueCyrRoman", sans-serif;
            line-height: 1.6
            margin-bottom: 20px
            span
                color: rgba(68, 71, 103, 0.8);
    p
        color: rgba(68, 71, 103, 0.8);
        font-size: 18px;
        font-family: "HelveticaNeueCyrRoman", sans-serif;
        line-height: 1.6
        margin-bottom: 20px
.contact_section
    padding 35px 40px 50px
    p
        font-size: 18px;
        font-family: "HelveticaNeueCyrMedium", sans-serif;
        color: rgba(68, 71, 103, 0.8);
        line-height: 1.6;
        margin-bottom: 20px
        &:last-of-type
            margin-bottom: 55px
    .coach_else
        font-size: 18px;
        font-family: "HelveticaNeueCyrMedium", sans-serif;
        color: rgba(68, 71, 103, 0.8);
        line-height: 1.6;
        margin-bottom: 55px
.coach_else_list
    margin-bottom: 55px
    li
        font-size: 18px;
        font-family: "HelveticaNeueCyrMedium", sans-serif;
        color: rgba(68, 71, 103, 0.8);
        margin-bottom: 20px
        list-style-type disc
        line-height: 1.6
.coach_contacts
    overflow hidden
    h6
        font-size: 27px;
        font-family: "HelveticaNeueCyrBold",sans-serif;
        color: rgb(37, 37, 37);
        line-height: 1
        margin-bottom: 40px
    a
        font-size: 18px;
        font-family: "HelveticaNeueCyrRoman", sans-serif;
        color: rgb(29, 36, 43);
        line-height: 1.444
        margin-bottom: 0
        float left
        margin-right: 35px
        span
            color #5452fe
            font-family: "HelveticaNeueCyrMedium", sans-serif;
        &:last-child
            margin-right: 0
        &:hover
            text-decoration: underline