#footer
	padding: 30px 0 25px
	background-color: #e7e8e9
#footer_contacts
	.logo
		max-width 220px
		display block
		margin-bottom: 37px
	.contacts
		text-align: left
		a
			line-height: 1
			display block
			margin-bottom: 15px
			margin-right: 0
			text-align: left
			&:last-child
				margin-bottom: 0
#footer_menu
	li
		font-size: 14px;
		font-family: "HelveticaNeueCyrMedium", sans-serif;
		text-transform: uppercase;
		line-height: 1.2
		margin-bottom: 17px
		list-style: none
		a
			color: rgb(46, 47, 46);
		&:last-child
			margin-bottom: 0
.doc_links
	a
		font-size: 16px;
		font-family: "HelveticaNeueCyrLight", sans-serif;
		color: #4745d7
		display: inline-block
		margin-bottom: 20px
		&:focus
			text-decoration: none
#documents_n_soc
	.soc_buttons
		margin-top: 32px
		width: 250px
		a
			.fa
				height 44px
				line-height: 44px
				width: 44px
				font-size: 24px
.adress
	font-size: 16px;
	font-family: "HelveticaNeueCyrLight", sans-serif;
	color: rgba(27, 26, 26, 0.6);
	line-height: 1.625;
	margin-top: 34px
.modal-dialog
	width: 750px;
.modal-content
	border-radius: 3px;
	background-color: rgb(255, 255, 255);
	box-shadow: none
.close
	border 2px solid #CDCDCD
	border-radius: 50%;
	position: absolute;
	width: 36px;
	height: 36px;
	line-height: 32px;
	color #CDCDCD
	top 30px
	right 30px
	font-size: 30px;
	z-index: 99;
	&:hover
		background-color: #4745d7
		color #ffffff
		border-color: #5452fe
#myPolitics
	.modal-title
		font-size: 24px
		text-align: center
		small
			display block
	.modal-body
		p
			font-size: 16px
			font-family: "HelveticaNeueCyrRoman", sans-serif;
			margin-bottom: 20px
			line-height: 1.2
#up
	display: none
	border-radius: 50px
	background-color: #3432de
	color #fff
	box-shadow: 0 3px 5px rgba(0,0,0,.35)
	width: 50px
	height 50px
	line-height: 50px
	position: fixed
	bottom 20px
	right calc(50% - 650px)
	text-align: center
	font-size: 24px
	transition: all 400ms ease;
	animation: for_up;
	animation-duration: .4s;
	animation-direction: normal
	cursor: pointer
	z-index: 20
@keyframes for_up
	0% {
		-webkit-transform: scale(1.4);
		-ms-transform: scale(1.4);
		-o-transform: scale(1.4);
		transform: scale(1.4);
	}
	50% {
		-webkit-transform: scale(.4);
		-ms-transform: scale(.4);
		-o-transform: scale(.4);
		transform: scale(.4);
	}
	100% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}