#main_body
	#main_screen
		padding: 24px 0 56px
#main_slider_container
	// position relative
	width: 100%
	margin 0 auto
	left 0
	right 0
	bottom 0
	overflow hidden
	height auto
// #main_slider
// 	width: 2000px
// 	position: relative
// 	bottom 0px
// 	left -50%
// 	right -50%
.item
	img
		width: 100%
		// margin 0 20px
.lSSlideOuter .lSPager.lSpg > li a
	background-color: #aaaaaa
	width: 15px
	height 15px
	margin-top: 10px