.pc_button
	border: 2px solid #fff;
	border-radius: 23px;
	position: absolute;
	right 15px
	top: 0
	height: 41px;
	line-height: 41px
	font-size: 16px;
	font-family: "HelveticaNeueCyrBold";
	color: rgb(255, 255, 255);
	text-align: center
	display: inline-block;
	padding: 0 15px;
	&:hover
		color #ffffff
		text-decoration: none
		background-image: linear-gradient( 174deg, rgb(30,28,251) 0%, rgb(69,67,251) 100%);
		border-color rgb(69,67,251)
	&:focus
		color: rgb(255, 255, 255);
		text-decoration: none
#main_menu
	margin 9px 0 54px
	li
		font-size: 14px;
		font-family: "HelveticaNeueCyrMedium", sans-serif;
		text-transform: uppercase;
		line-height: 1.2
		list-style: none
		display: inline-block
		margin-right: 40px
		a
			color: rgba(#fff,.6)
			&:hover
				color #fff
				text-decoration: none
		&:last-child
			margin-right: 0
#menu_icon {
	display: block;
	position: absolute;
	top: 0
	right: 33px;
	background-color: #fff;
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
	width: 63px;
	height: 63px;
	z-index: 999900;
	cursor: pointer;
	overflow: hidden;
}

.upper_span,
.middle_span,
.lower_span {
	background-color:#5452fe
	width: 45px;
	height: 9px;
	display: block;
	position: absolute;
	left: 9px;
	border-radius: 25px
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}

.upper_span {
	top: 9px;
}

.upper_span_opened {
	top: 29px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.middle_span {
	top: 27px;
	opacity 1
	transition all .3s ease-in-out
}

.middle_span_opened {
	top 29px
	transform: rotate(45deg)
	transition all .3s ease-in-out
}

.lower_span {
	top: 45px;
}

.lower_span_opened {
	top: 29px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}