#news
	padding: 100px 0 60px
	h3
		font-size: 42px;
		font-family: "HelveticaNeueCyrBlack", sans-serif;
		color: rgb(32, 31, 31);
		line-height: 1.2
		margin-bottom: 50px
.first_new
	float: right 
.news_video_container
	position relative
	&:before
		content: ''
		display block
		width: 100%
		height inherit
		top 0
		left 0
		bottom: 0
		right 0
		background-color: rgba(0,0,0,.5)
		z-index 8
		position: absolute
	&:after
		content: ''
		background-image url(../img/play_icon.png)
		background-position 0 0
		background-repeat no-repeat
		background-size contain
		position: absolute
		top: 44%
		left: 0
		right: 0
		margin: 0 auto
		display block
		z-index 10
		width: 75px
		height 75px
		border-radius: 50%
	h4
		position: absolute
		padding 35px 42px 0
		margin 0
		z-index 9
		font-size: 24px;
		font-family: "HelveticaNeueCyrBold", sans-serif;
		color: rgb(255, 255, 255);
		font-weight: bold;
		line-height: 1.4;
		margin-bottom: 10px
		cursor pointer
		z-index 9
		cursor: no-drop
.secondary_nvc
	h4
		font-size: 20px
		line-height: 1.1
	&:before
		height inherit
	&:after
		width 36px
		height 36px
		top:  auto
		left 30px
		bottom 30px
		right auto
	img
		width: 100%
#news_soc_block
	border-radius: 3px;
	background-image: linear-gradient( 174deg, rgb(30,28,251) 0%, rgb(69,67,251) 100%);
	padding: 37px 23px 37px 40px
	margin-top: 25px
	display: table
	width: 100%
.nsb_title
	display: table-cell
	h4
		font-size: 27px;
		font-family: "HelveticaNeueCyrBold", sans-serif;
		color: rgb(255, 255, 255);
		line-height: 1.2
		margin-bottom: 12px
	p
		font-size: 20px;
		font-family: "HelveticaNeueCyrRoman", sans-serif;
		color: rgb(255, 255, 255);
		line-height: 1.1
		margin: 0
#news_soc_buttons
	display: table-cell
	vertical-align: middle
	width: 242px
	.soc_buttons
		width: 100%
		a
			text-align: center
			.fa
				width: 44px
				height: 44px
				line-height: 44px
				font-size: 24px
				background-image: none
			&:first-child
			&:nth-child(2)
				.fa
					background-color: #5553fe
			&:nth-child(3)
				.fa
					background-color: #ff0000
			&:nth-child(4)
				.fa
					background-color: #e85a28
#news_soc_buttons
	.soc_buttons
		a
			.fa
				&:hover
					background-color #fff
					color #2321fb
.main_nvc
	img
		width: 100%
.main_form_in_news
	margin: 30px 0 0