#shulte
    padding: 90px 0
#shulte_create
   width 70%
   margin 40px auto 20px
   text-align: center
   td
    width: 25%
.create_table_title 
    font-family: "HelveticaNeueCyrSemibold", sans-serif;
    font-size: 18px;
    margin-bottom: 10px
#shulte_cintrols
    margin-right: 20px
    max-width 200px
    float left
    input
        display block
        width: 100%
        margin-bottom: 20px
    input.button
        background-image: linear-gradient(0deg, transparent 0%, transparent 100%)
        background-color: #252525;
        &:hover
            color #000
            background-image: none
            background-color: #F0F0F0
#shulte_timer
    padding: 5px 0
    border: 0;
    text-align: center
    font-size: 22px
    background-color: rgba(#eee, .3)
    box-shadow: 0 0 5px rgba(#aaa, .7) inset
#shulte_table
    max-width 675px
    margin 0 auto
    text-align: center
    h4
        font-size: 22px
        margin-bottom: 20px
        font-family: "HelveticaNeueCyrSemibold", sans-serif;
#game_table
    // width: 100%
    margin 0 auto
    td
        font-family: "HelveticaNeueCyrSemibold", sans-serif;
        height 70px
        width: 70px
        border: 1px solid #aaa
        font-size: 32px
        color: #000
        line-height: 50px
        text-align: center
        box-sizing: border-box
        vertical-align: middle