mixin faq(h3,p)
    .faq_container
        .faq_title
            h3= h3
            span +
        .faq_content
            p= p
section#faq_list
    .container
        #faqs
            +faq('А запись занятия/семинара будет?', 'Записи всех платных курсов выкладываются к вам в личный кабинет, если у вас до сих пор нет личного кабинета, обратитесь к Юлии Skype: yulia28197 E-mail: chernova@mastervision.su Записи всех бесплатных мероприятий приходят на почту, указанную при регистрации на следующий день после мероприятия. Если запись не пришла, в этом случае, напишите нам в службу поддержки info@mastervision.su')
            +faq('Не могу войти в свой личный кабинета (утерян пароль или другая причина)', 'Напишите Менеджеру по работе с клиентами Юлии Skype: yulia28197 E-mail: chernova@mastervision.su')
            +faq('У меня в личном кабинете нет записи', 'Напишите Менеджеру по работе с клиентами Юлии Skype: yulia28197 E-mail: chernova@mastervision.su')
            +faq('Не открывается запись урока (не воспроизводится видео, аудио)', 'Напишите Менеджеру по работе с клиентами Юлии Skype: yulia28197 E-mail: chernova@mastervision.su')
            +faq('Мне не приходит рассылка', 'Может быть множество причин. Попробуйте обновить страницу или же сменить браузер. Также помогает обновление до актуальной версии флешплеера. Обновить его можно по ссылке с сайта разработчика: Если ничего не помогает, напишите Менеджеру по работе с клиентами Юлии Skype: yulia28197 E-mail: chernova@mastervision.su')
            +faq('Я оплатил(а), но до сих пор не получил(а) доступ к обучению', 'Скорее всего, причина связана с вашим почтовым сервисом (чаще всего – mail.ru). Проверьте папку «Спам» своего почтового ящика и поставьте галочку «Не спам» около наших писем. Если это не помогло — напишите нам в службу поддержки info@mastervision.su')
            +faq('Я хочу продолжить обучение, перейти на следующий пакет/этап обучения, куда обратиться?', 'Обратитесь к вашему менеджеру Виктории Skype: shurkina_viktoriya E-mail: v.shurkina@gmail.com. Оксане Skype: oxanaoxana844 E-mail: k-oksan79@mail.ru')
            +faq('Меня выбросило из комнаты и я больше не могу зайти. Что делать?', 'Скорее всего, вы неверно ввели персональные данные при входе в комнату. В данном случае, вам нужно зайти с другого браузера и корректно ввести ваше имя и почту, если ничего не изменится, пожалуйста, обратитесь к вашему менеджеру Виктории Skype: shurkina_viktoriya E-mail: v.shurkina@gmail.com. Оксане Skype: oxanaoxana844 E-mail: k-oksan79@mail.ru')
            +faq('Возможна ли рассрочка? ', 'По этому вопросу обратитесь к вашему менеджеру Виктории Skype: shurkina_viktoriya E-mail: v.shurkina@gmail.com. Оксане Skype: oxanaoxana844 E-mail: k-oksan79@mail.ru')
            +faq('Как попасть в скайп-чат?', 'Если вы оплатили обучение, обратитесь к менеджеру Елене, указав свои имя, фамилию, емейл и курс Skype: admin-mastervision1')
            +faq('Как попасть в личный кабинет?', 'На все вопросы по личному кабинету ответит менеджер Юлия Skype: yulia28197 E-mail: chernova@mastervision.su')
            +faq('Где найти расписание занятий?', 'Расписание занятий по вашему курсу вы можете найти в Вашем личном кабинете, по ссылке https://mastervision.su/lk/login.php')
            +faq('Я случайно отписался от рассылки, что делать?', 'Напишите письмо на почту info@mastervision.su с просьбой восстановить вас в рассылке, указав ваш емейл и курс')
            .faq_container
                .faq_title
                    h3 Вышлите реквизиты для оплаты
                    span +
                .faq_content
                    p Альфа-Банк
                    p Кудряшов Александр Анатольевич
                    p Номер карты: 4154812008596235
                    p Номер счета: 40817810908120027256 (RUR)
                    p Банк получателя: АО «Альфа-Банк», г. Москва
                    p БИК: 044525593
                    p Кор. Счет: 30101810200000000593
                    p ИНН Банка: 7728168971
                    p КПП Банка: 775001001
                    p При отправке в графе "Сообщение получателю" указать ТОЛЬКО ваш e-mail
                    p После оплаты ОБЯЗАТЕЛЬНО прислать фото чека или скриншот на почту info@mastervision.su
                    hr
                    p PayPal: https://www.paypal.me/mastervision1 (перевод осуществлять через вкладку "отправить деньги друзьям и близким")
                    p Qiwi: +79254539395
                    p Яндекс Деньги 410011302992109
                    p Web Money R108543089762