section#main_screen
	.container
		include ../menu
		h1.main_title Ответы на часто задаваемые вопросы
		h2.main_subtitle В разделе собраны те вопросы, которые наиболее часто задают сотрудникам Master Vision. Если Вы не нашли ответ на Ваш вопрос, Вы можете обратится в службу поддержки по указанным выше контактам