#contacts
    .main_title
        margin: 0 0 28px

#contacts_list
    overflow hidden
    padding: 60px 0
    h2.main_subtitle
    h3.main_subtitle
    h4.main_subtitle
        color #262525
        margin-bottom: 9px
    .contacts
        text-align: left
        width: 210px
        a
            display block
            text-align: left
            margin-right: 0
            span    
                text-align: left
// #map
//     width: 100%
//     height 720px
//     margin-bottom: -5px
// #feedback
//     padding: 60px 0
.feedback_form
    border-radius: 3px;
    background-color: #fff
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.2);
    height: 600px;
    width: 487px;
    margin  0 auto
    padding: 56px 40px
    h3
        font-size: 32px;
        color: rgb(38, 37, 37);
        line-height: 1
        margin-bottom: 38px
    input
    textarea
        border: 1px solid rgba(85, 94, 124, .3);
        border-radius: 3px;
        display block
        width: 100%
        margin-bottom: 19px
        font-size: 16px;
        font-family: "HelveticaNeueCyrRoman", sans-serif;
        color: rgba(85, 94, 124, 0.7);
    input
        padding: 0 25px
        height: 55px;
        line-height: 53px
    textarea
        padding: 15px 25px
        height 140px
    .button
        float: right
        padding: 0 41px