#contacts
    .main_title
        margin: 0 0 28px
.contacts_container
    text-align: left
    a
    p
        display block
        text-align: left
        margin-right: 0
        font-family: "HelveticaNeueCyrBold", sans-serif;
        font-size: 22px
        color #f7f8fa
        line-height: 1.4
        span    
            display block
            font-family: "HelveticaNeueCyrRoman", sans-serif;
    a:hover
        text-decoration: none
    a:hover span
        text-decoration: underline
#contacts_list
    padding: 60px 0 100px
.feedback_form
    border-radius: 3px;
    background-color: #fff
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.2);
    height: auto
    width: 100%
    margin  0 auto
    padding: 60px 100px
    h3
        font-size: 32px;
        color: rgb(38, 37, 37);
        line-height: 1
        margin-bottom: 38px
        text-align: center
    input
    textarea
        border: 1px solid rgba(85, 94, 124, .3);
        border-radius: 3px;
        display block
        margin-bottom: 19px
        font-size: 16px;
        font-family: "HelveticaNeueCyrRoman", sans-serif;
        color: rgba(85, 94, 124, 0.7);
    input
        padding: 0 25px
        height: 55px;
        line-height: 53px
        width: 49%
        float right
        &:nth-child(2)
            float: left
    textarea
        padding: 15px 25px
        height 140px
        clear both
        width: 100%
    .button
        margin: 0 auto
        padding: 0 41px
        max-width 167px
        display block
        text-align: center