header#header
	.container
		.row
			.col-md-3.col-sm-3.col-xs-3
				a(href="mv_main", target="_blank")
					img#head_logo(src="img/logo.png", alt="Логотип")
			.col-md-7.contacts
				a.tel(href="callto:8-499-346-79-46", target="_blank") тел.: 
					span 8-499-346-79-46
				a.skype(href="skype:add?admin-mastervision", target="_blank") skype: 
					span admin-mastervision
				a.mail(href="mailto:info@mastervision.su", target="_blank") e-mail: 
					span info@mastervision.su
			.col-md-2.col-sm-2.col-xs-9.soc_buttons
				a(href="https://www.facebook.com/Mastervision1C/", target="_blank")
					i.fa.fa-facebook(aria-hidden="true")
				a(href="http://vk.com/mv_ezoterika", target="_blank")
					i.fa.fa-vk(aria-hidden="true")
				a(href="https://www.youtube.com/channel/UCiJTdt19jRMRmYyCZac2Lvg/", target="_blank")
					i.fa.fa-youtube-play(aria-hidden="true")
				a(href="https://ok.ru/mv.ezoterika", target="_blank")
					i.fa.fa-odnoklassniki(aria-hidden="true")