#menu_icon
    span.upper_span
    span.middle_span
    span.lower_span
#menu_container
    ul#main_menu
        li 
            a(href="/mv_main") Главная
        li 
            a(href="exersises") Упражнения
        li 
            a(href="articles") Статьи
        li 
            a(href="about") О нас 
        li 
            a(href="faq") faq
        li 
            a(href="contacts") Контакты
        li 
            a(href="personal-consultation") Личная консультация
    a.pc_button(href="personal-account",target="_blank") Личный кабинет