a.pc_button(href="",target="_blank") Войти
ul#main_menu
    li 
        a(href="exersises") Упражнения
    li 
        a(href="articles") статьи
    li 
        a(href="javascript:void(0);") о нас 
    li 
        a(href="faq") faq
    li 
        a(href="contacts") контакты