a.pc_button(href="",target="_blank") Войти
ul#main_menu
    li 
        a(href="javascript:void(0);") Упражнения
    li 
        a(href="javascript:void(0);") статьи
    li 
        a(href="javascript:void(0);") о нас 
    li 
        a(href="javascript:void(0);") faq
    li 
        a(href="javascript:void(0);") контакты