#footer
    padding: 60px 0 57px
    background-color: #e7e8e9
#footer_contacts
    .logo
        display block
        margin-bottom: 37px
    .contacts
        text-align: left
        a
            line-height: 1
            display block
            margin-bottom: 15px
            margin-right: 0
            text-align: left
            &:last-child
                margin-bottom: 0
#footer_menu
    li
        font-size: 14px;
        font-family: "HelveticaNeueCyrMedium", sans-serif;
        text-transform: uppercase;
        line-height: 1.2
        margin-bottom: 17px
        list-style: none
        a
            color: rgb(46, 47, 46);
        &:last-child
            margin-bottom: 0
.doc_links
    a
        font-size: 16px;
        font-family: "HelveticaNeueCyrLight", sans-serif;
        color: rgba(85, 83, 254, 0.702);
        display: inline-block
        margin-bottom: 20px
#documents_n_soc
    .soc_buttons
        margin-top: 32px
        width: 250px
        a
            .fa
                height 44px
                line-height: 44px
                width: 44px
                font-size: 24px
.adress
    font-size: 16px;
    font-family: "HelveticaNeueCyrLight", sans-serif;
    color: rgba(27, 26, 26, 0.6);
    line-height: 1.625;
    margin-top: 34px