section#we_in_numbers
    .container
        h3 Master Vision в цифрах
        p Наши образовательные курсы меняют жизни тысяч людей к лучшему
        .row
            .col-md-4.col-sm-4.col-xs-12
                p.num_title Число подписчиков
                p.counted 82 000
                p человек уже с нами
            .col-md-4.col-sm-4.col-xs-12
                p.num_title У нас уже прошли обучение
                p.counted 1 800
                p студентов
            .col-md-4.col-sm-4.col-xs-12
                p.num_title Просмотров вебинаров
                p.counted 13 000
                p в месяц
        h5 Присоединяйтесь к сообществу Master Vision
        button.button(data-toggle="modal" data-target="#modalSubscribe")  Подписаться