section#main_screen
	.container
		include ../menu
		h1.main_title Master Vision - академия эзотерических практик
		h2.main_subtitle Мы обучаем эзотерике, психологии, экстрасенсорике, астрологии и другим практикам, которые направленны на саморазвитие и улучшение качества жизни человека