mixin coach(h5,p, m_modal)
        .team_card(data-toggle="modal" data-target= m_modal)
            h5= h5
            p= p
            .arrow_more &rarr;
            .coach
section#our_team
    .container
        h3 Наша команда
        p.team_subtitle Преподаватели нашей академии не теоретики, а действующие практики, гуру прикладной эзотерики
        h4 Организаторы
        .row
            .col-md-6.col-sm-6.organizers
                +coach('Александр Кудряшов','генеральный директор MasterVision', '#alexModal')
            .col-md-6.col-sm-6.organizers
                +coach('Андрей Грудин','управляющий партнер MasterVision', '#alexModal')
        h4 Тренерский состав
        .row
            .col-md-6.col-sm-6.coaches
                +coach('Василий Попов','эзотерик, мистик, целитель', '#alexModal')
            .col-md-6.col-sm-6.coaches
                +coach('Ольга веда','потомственная волшебница в III поколении', '#alexModal')
            .col-md-6.col-sm-6.coaches
                +coach('Жанна Абрамова','психолог, женский тренер', '#alexModal')
            .col-md-6.col-sm-6.coaches
                +coach('Виктор Толстиков','эзотерик, потомственный маг', '#alexModal')
            .col-md-6.col-sm-6.coaches
                +coach('Александр Кудряшов','экстрасенс, парапсихолог, мастер Расстановок по Хелленгеру', '#alexModal')
            .col-md-6.col-sm-6.coaches
                +coach('Регина Крашенинникова','пальмистр, хиромант', '#alexModal')
        //- h6 Приглашаем к сотрудничеству!
        //- a.button(href="/coaching-for-coaches/" target="_blank") Партнерская программ