section#shulte
	.container
		.single_container.instruction
			p Это упражнение помогает натренировать внимание. Внимание важно во всех аспектах жизни, в то числе и в эзотерически, экстрасенсорных практиках
			p При каждодневной тренировке (если подобных тренеровок прежде не было), на протяжении 2-3 недель, Вы заметите что концентрация Вашего внимание возрасла, станете меньше отвлекаться от важных процессов, начнете замечать в разы больше
			p Правила выполнения упражнения:
			ul
				li Сядьте перед экраном компьютера таким образом, чтобы вся таблица была в поле вашего зрения
				li Зафиксируйте свое внимание в центре таблицы и старайтесь не смещать его
				li Переферийным зрением начните находить числа в возрастающем порядке, от 1 и до 25
		#shulte_box
			table#shulte_create
				tbody
					tr
						td
							p.create_table_title Создать таблицу 5x5
							a.button.create_table(href="javascript:vip(5);") Создать
						td
							p.create_table_title Создать таблицу 6x6
							a.button.create_table(href="javascript:vip(6);") Создать
						td
							p.create_table_title Создать таблицу 7x7
							a.button.create_table(href="javascript:vip(7);") Создать
						td
							p.create_table_title Очистить таблицу
							a.button.create_table#clear_table(href="javascript:void(0);") Очистить
			form#shulte_cintrols(name="shuteControls")
				input#shulte_timer(name="stopwatch"  value="00:00:00.00")
				input.button#start_timer(type="button" value="Запуск/Стоп")
				input.button#clear_timer(type="button" value="Обнулить")
			#shulte_table