section#shulte
	.container
		.single_container.instruction
			p Это упражнение помогает натренировать внимание. Внимание важно во всех аспектах жизни, в то числе и в эзотерически, экстрасенсорных практиках
			p При каждодневной тренировке (если подобных тренеровок прежде не было), на протяжении 2-3 недель, Вы заметите что концентрация Вашего внимание возрасла, станете меньше отвлекаться от важных процессов, начнете замечать в разы больше
			p Правила выполнения упражнения:
			ul
				li Сядьте перед экраном компьютера таким образом, чтобы вся таблица была в поле вашего зрения
				li Зафиксируйте свое внимание в центре таблицы и старайтесь не смещать его
				li Переферийным зрением начните находить числа в возрастающем порядке, от 1 и до 25
		#shulte_box
			#sh_controls
				p.create_table_title Создать таблицу 5x5
				a.button.createTable(href="javascript:vip(5);") Создать
				p.create_table_title Создать таблицу 6x6
				a.button.createTable(href="javascript:vip(6);") Создать
				p.create_table_title Создать таблицу 7x7
				a.button.createTable(href="javascript:vip(7);") Создать
				a.button#clearTable(href="javascript:void(0);") Обнулить
			#shulteTable