mixin lp(cat, src,h, p,time)
    .col-lg-4.col-md-6.col-sm-6.col-xs-12.article_col
        a(href="mv_main/single_article").lp_single
            p.lp_cat= cat
            img.lp_thumbnail(src= src, alt= h)
            .lp_about
                h4.lp_title= h
                p= p
            .lp_footer
                .arrow_more &rarr;
                .lp_seen
                    i.fa.fa-eye(aria-hidden="true") 
                        | 32
section#articles_list
    .container
        .row
            +lp('Экстрасенсорика', 'img/lp_pic_1.jpg' ,'Дистанционное видение, основанное на интуиции','Наиболее успешны люди, которые обладают сильной интуицией. Как её развить, сделать инструментом ...')
            +lp('Астрология', 'img/lp_pic_2.jpg' ,'Исцеляющая астрология','Чего проще? — заходи в сеть и ищи, какой дом отвечает за здоровье. Какая управляющая планета у вас в этом доме?...')
            +lp('Психология', 'img/lp_pic_3.jpg' ,'Идеальный подход в поиске совместимости партнеров','Мечтать о счастливой совместной жизни с партнёром не запретишь! Но всем ли женщинам удаётся...')
            +lp('Экстрасенсорика', 'img/lp_pic_1.jpg' ,'Дистанционное видение, основанное на интуиции','Наиболее успешны люди, которые обладают сильной интуицией. Как её развить, сделать инструментом ...')
            +lp('Астрология', 'img/lp_pic_2.jpg' ,'Исцеляющая астрология','Чего проще? — заходи в сеть и ищи, какой дом отвечает за здоровье. Какая управляющая планета у вас в этом доме?...')
            +lp('Психология', 'img/lp_pic_3.jpg' ,'Идеальный подход в поиске совместимости партнеров','Мечтать о счастливой совместной жизни с партнёром не запретишь! Но всем ли женщинам удаётся...')
            +lp('Экстрасенсорика', 'img/lp_pic_1.jpg' ,'Дистанционное видение, основанное на интуиции','Наиболее успешны люди, которые обладают сильной интуицией. Как её развить, сделать инструментом ...')
            +lp('Астрология', 'img/lp_pic_2.jpg' ,'Исцеляющая астрология','Чего проще? — заходи в сеть и ищи, какой дом отвечает за здоровье. Какая управляющая планета у вас в этом доме?...')
            +lp('Психология', 'img/lp_pic_3.jpg' ,'Идеальный подход в поиске совместимости партнеров','Мечтать о счастливой совместной жизни с партнёром не запретишь! Но всем ли женщинам удаётся...')
        ul.articles_pagination
            li.active_pag
                a(href="javascript:void(0);") 1
            li
                a(href="javascript:void(0);") 2
            li
                a(href="javascript:void(0);") 3
            li
                a(href="javascript:void(0);") ...
            li
                a(href="javascript:void(0);") 15
            li
                a(href="javascript:void(0);") >
                
