section#main_screen
	.container
		include ../menu
		h1.main_title Статьи
		h2.main_subtitle Когда человек не находит выхода из сложной ситуации, перепробовав множество официальных средств, он приходит к эзотерическим учениям. И, проявив упорство, обязательно получает результат...