section#single
	.container
		article.single_container
			p Иногда у человека возникает спонтанное видение. Один из Калифорнийских университетов США получил задание создать продукт, который позволил бы сделать такую способность рабочей. Надо было добиться того, чтобы по желанию овладевший методом мог управлять своими интуитивными знаниями. Так появился метод, доступный обычному человеку в любых условиях. Это метод дистанционного видения.
			p Если ясновидящими могут быть не все, то ДВ доступно практически каждому. Методика вполне реальна. Ей можно обучиться.
			h3 Что выгодно выделяет метод ДВ на фоне других?
			ul
				li - Отсутствует спонтанность, непредсказуемость
				li - Чёткая структура получения знаний о событии
				li - Конкретная методика применения метода на практике
			p Для решения задачи не обязательно встречаться с заказчиком. Достаточно в сети получить задание и отправить результаты его выполнения.
			p Пройдя поступательно несколько стадий, специалист ДВ получает сигналы. Заполняет протоколы. И представляет конечный результат в виде рисунков, 3D моделей.
			p Метод быстро набирает популярность. Сфера бизнеса, политики, даже поиск полезных ископаемых — абсолютно любые варианты применения. Огромное количество потенциальных заказчиков быстро делает специалиста ДВ востребованным и успешным. Это может стать новой карьерой любого желающего. Ведь интуиция есть у каждого! С этим даром мы приходим в жизнь. Остаётся создать некоторые грани, структурировать внутренние способности. И вот уже в руках новый бизнес — лёгкий и приятный!
			h3 Сферы применения метода ДВ:
			ul
				li - Карьера, проверка потенциальных партнёров, поиск направлений инвестирования.
				li - Решение важных жизненных вопросов.
				li - Сфера личностного роста. Выяснение предназначения, работа с подсознанием, раскрытие индивидуальных способностей.
				li - Криминалистика. Поиск террористов, заложников, пропавших людей.
				li - Диагностика заболеваний, выбор эффективного метода лечения.
				li - Реинкарнационика.
				li - Исследование паранормальных явлений.
			p Без привязки к месту и времени доступным к пониманию становится любое событие прошлого, настоящего и будущего! Вам предоставляется удивительный шанс обучиться основам метода в течение бесплатного 3х-дневного интенсива «Дистанционное видение. Научитесь заглядывать в будущее за 3 дня!», который пройдёт с 26 по 28 февраля в 19:00 (МСК). Чтобы записаться, переходите по ссылке 
				a(href="javascript:void(0);") https://mastervision.su/dv-intensive/ 
				| и нажимайте кнопку «Записаться»! За это время вы хорошо прочувствуете дееспособность метода, сможете применять наработанное в своей жизни. Преподаватель — успешный коуч, практик ДВ, экстрасенс Кудряшов А.А. 
		.row.likeit
			.col-md-7
				h5 Понравилась статья? Расскажите друзьям:
			.col-md-5
				script(type="text/javascript")
					| (function () {if (window.pluso)if (typeof window.pluso.start == "function") return;if (window.ifpluso == undefined) {window.ifpluso = 1;var d = document,s = d.createElement('script'),g = 'getElementsByTagName';s.type = 'text/javascript';s.charset = 'UTF-8';s.async = true;s.src = ('https:' == window.location.protocol ? 'https' : 'http')+'://share.pluso.ru/pluso-like.js';var h = d[g]('body')[0];h.appendChild(s);}})();
				.pluso(data-background="transparent" data-options="big,round,line,horizontal,counter,theme=04" data-services="vkontakte,odnoklassniki,facebook,twitter,google,email")
		h4.comments Комментарии
		#hypercomments_widget
			script
				| type="text/javascript",_hcwp = window._hcwp || [];_hcwp.push({widget: "Stream",widget_id: 102348});(function() {if ("HC_LOAD_INIT" in window) return;HC_LOAD_INIT = true;var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage || "en").substr(0, 2).toLowerCase();var hcc = document.createElement("script");hcc.type = "text/javascript";hcc.async = true;hcc.src = ("https:" == document.location.protocol ? "https" : "http") + "://w.hypercomments.com/widget/hc/102348/" + lang + "/widget.js";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hcc, s.nextSibling);})();