// @media screen and (min-width 1400px)
//     #courses_in_record .row
//     #last_posts .row
//         overflow hidden
//         margin: 0
//     #main_slider_container
//         width: 1140px
//         margin: 0 auto
//         padding: 0 15px
//     #main_slider
//         left -376px
@media screen and (min-width 1400px)
	#courses_in_record .lSSlideOuter
	#last_posts .lSSlideOuter
		width: auto
	#single
		min-height: calc(100vh - 688px)
	#last_posts .row
	#courses_in_record .row
		margin: 0
@media screen and (min-width 1900px)
	.container
	#main_slider_container
		width: 1400px
	.button
		font-size: 22px
		height: 55px;
		line-height: 55px;
	#head_logo
		margin-top: 6px;
	.pc_button
		height: 50px;
		line-height: 50px;
		font-size: 24px;
	.contacts a
		font-size: 20px
		line-height: 41px;
	.soc_buttons a .fa
		width: 42px;
		height: 42px;
		line-height: 42px;
		font-size: 20px;
	#main_menu li
		font-size: 20px
	.main_title
	#why_we h3
	#news h3
		font-size: 52px
	.main_title
		max-width: 1050px;
	.main_subtitle
		font-size: 30px
		max-width 950px
	.title_an_rules h3
		font-size: 39px
	.course_nums
		font-size: 26px
	.lSAction
		width: 160px
		a
			width: 60px;
			height: 60px;
			line-height: 53px;
			color: #f8f8f9;
			font-size: 35px;
	.cir_cat
	.cir_author
	.cir_time
		font-size: 18px
	.cir_title
		font-size:  30px
	.cir_button
		border-radius: 30px;
		width: 185px;
		height: 50px;
		line-height: 50px;
		bottom: 35px;
		font-size: 18px;
	#about_eso_video_container h4
		font-size: 34px
		small
			font-size: 26px;
	#about_eso_video_container:after
		top: 50%
	.main_form
		height 406px
	.main_form_in_news
		height 377px
	.main_form_title
	#students_num h5
		font-size: 34px
	.main_form_subtitle
		font-size: 24px
	.main_form_email
	.main_form_button
		font-size: 20px
		width: 350px
	.main_form_email
		margin-top: 20px
	#students_num
		height 347px
		p
			line-height: .6
			span
				font-size: 28px
	.why_title
	.wy_wrapper:nth-child(2) .why_title
		font-size: 29px
	.why_par
	.wy_wrapper:nth-child(2) .why_par
		font-size: 26px
	.wy_wrapper .wy_container
		height 410px
	.news_video_container:after
		top:  50%
	.news_video_container h4
		font-size: 32px
	.secondary_nvc h4
		font-size: 28px
	.secondary_nvc:after
		top: auto
	.nsb_title h4
		font-size: 36px
	.nsb_title p
		font-size: 30px
	#news_soc_buttons .soc_buttons a .fa
		width: 54px;
		height: 54px;
		line-height: 54px;
		font-size: 30px;
	.all_posts
		margin-top: 200px
		font-size: 18px
		line-height: 47px
	.lp_single
		height 630px
	.lp_cat
		font-size: 13px
	.lp_title
		font-size: 28px
	.lp_title+p
		font-size: 24px
	.arrow_more
		width: 46px;
		height: 46px;
		line-height: 36px;
		font-size: 24px
	.lp_seen
		bottom: 38px;
		font-size: 18px;
	#footer_menu li
		font-size: 18px
	.doc_links a
	.adress
		font-size: 20px
	.modal-dialog
		width: 950px
	.modal-title
		font-size:  30px
	.modal-body p
		font-size: 26px
		margin-bottom: 20px
	.modal-header .close
		margin-top: -12px
	#exersises_list .lp_single
	#articles_list .article_col .lp_single
		// width: 100% !important
	#exersises_list .lp_single
		height 555px
	#exersises_list .lp_button
		width: 250px
		padding-top: 8px;
		font-size: 18px
		right: 30px;
		margin: 0 auto;
		height 69px
	.articles_pagination li a
		font-size: 28px;
		width: 60px;
		height: 60px;
		line-height: 60px;
	.single_container
		width: 1000px
	#single li, #single p
		font-size: 28px
	#single h1, #single h2, #single h3, #single h4, #single h5, #single h6
		font-size: 200%
		line-height: 1.3
	#we_in_numbers h3
	#our_team h4
	#single_article .main_title
		font-size: 42px
	#we_in_numbers h3+p
		font-size: 26px
		width: 485px;
	.num_title
	#we_in_numbers h5
		font-size: 31px
	.counted+p
		font-size: 30px
	#modalSubscribe .modal-dialog
		width: 435px
	#our_team h3
		font-size: 53px
	.team_subtitle
		font-size: 30px
		max-width 900px
	.team_card
		width: 100%
	.team_card h5
		font-size: 32px
	.team_card p
		font-size: 24px;
		max-width 320px
	.team_card .arrow_more
		bottom: 100px
	.title_block h5
		font-size: 40px
	.title_block h5+p
		font-size: 25px
		max-width 320px
	.competences h6
	.coach_contacts h6
		font-size: 36px
	.competences ul li
	.coach_contacts a
		font-size: 26px
	.faq_title h3
		font-size: 32px
	.faq_content p
		font-size: 26px
	.faq_title span
		font-size: 40px
		width: 42px;
		height: 42px;
		line-height: 32px;
	#contacts_list .contacts
		width: 280px
	.feedback_form h3
		font-size: 40px
	.feedback_form input
	.feedback_form textarea
		font-size: 22px
	.checking .check_label
		font-size: 20px
	#number_generator_table
		width: 600px
		height 600px
	#number_generator_table tr td a
		font-size: 55px
		line-height: 198px
	#numbers_result
		font-size: 42px
	#numbers_count
	.instruction p
	.instruction li
		font-size: 26px
	#contacts_list .contacts a
		font-size: 26px
		max-width 360px
	#restart
		max-width 300px
	.likeit h5
	#color_box+p
		font-size: 25px
	#color_box
		width: 600px
	#cg_colors
		width: 600px
	#cg_colors a
		width: 32.4%;
	#cg_colors a:nth-child(2)
		margin 0 8px
	.create_table_title
	#myPolitics .modal-body p
		font-size: 26px
	#shulte_create
		width: 88%;
	#shulte_cintrols
		max-width 225px
	#shulte_timer
	#shulte_table h4
		font-size: 32px
	#game_table td
		font-size: 42px
		height: 100px;
		width: 100px;
	.contact_section .coach_else
	.coach_else_list li
		font-size: 26px
	#myPolitics .modal-title
		font-size: 34px
	#last_posts .lSAction
		top: 160px
	#up
		font-size: 32px
		width: 80px
		height 80px
		line-height: 80px
		right calc(50% - 800px)
	.contacts_container a, .contacts_container p
		font-size: 32px
	.feedback_form .button
		max-width 220px
	#consultation_order h5
		font-size: 42px
	#consultation_order h5+p
		font-size: 26px
		max-width 755px
	.request_example
		min-height: 515px
		p
			font-size: 24px
	.specialists_title
		font-size: 50px
	.our_specialist
		max-width: 97%;
		h4
			font-size: 26px
		p
			font-size: 24px
	.all_specialists
		margin-top: 0
		width: 300px
@media screen and (max-width 1199px)
	.contacts a
		&:nth-child(2)
			margin-right: 0
	#main_menu li
		margin-right: 20px
	.cir_single
		width: 280px !important
		height: 323px;
	.cir_title
		margin-top: 120px
	.cir_cat
		top 20px
		left 20px
	.cir_single
		padding: 19px
	.cir_button
		left 19px
		bottom: 29px
	.cir_time
		right 20px
		bottom: 40px
		font-size: 13px
	.cir_time img
		margin-right: 5px
	.main_form_title
		margin-bottom: 0
	.main_form_subtitle
		line-height: 1.2
	.main_form_email
	.main_form_button
		width: 100%
		height 43px
		line-height: 43px
	.main_form_email
		margin 12px auto
	#students_num
		height 194px
	#students_num p
		font-size: 50px
		padding: 0 30px 30px
		line-height: 0.6;
	.wy_wrapper .wy_container
		height 385px
	.main_form_in_news
			height: 290px;
	.news_video_container h4
		padding: 30px
	.secondary_nvc h4
		font-size: 18px
		line-height: 1.2
	.secondary_nvc
		overflow hidden
		height 215px
	.nsb_title
		width: 490px
	.lp_single
		width: 280px !important
		height 530px
	#exersises_list .lp_single
	#articles_list .article_col .lp_single
		width: 90% !important
	#articles_list .article_col .lp_single
		height: 480px
	.team_card
	.feedback_form
		width: 100%
	.team_card
		padding-top: 30px
	.title_block
		padding-top: 40px
	.team_card .coach
		right -45px
	.likeit
	#hypercomments_widget
		width: 100%
	.likeit h5
		line-height: 1.2
	#shulte_create
		width 90%
	#up
		right 20px
	.request_example
		min-height: 383px
@media screen and (max-width 991px)
	.contacts
		text-align: center
	.soc_buttons
		float: right
		width: 180px
	.contacts a
		margin-right: 0
	#main_menu
		max-width 515px
	#about_eso_video_container
		margin-bottom: 30px
	#about_esoteric .main_form
	.main_form_in_news
		width: 47.5%
		float left
	.main_form_email
		margin: 20px auto
	#students_num
	.secondary_nvc
		width: 47.5%
		float: right
		height 310px
	.secondary_nvc
		height 290px
	#students_num p
		padding 0 30px 45px
		font-size: 73px
	#why_we
	#news
	#last_posts
		padding-top: 0
	.wy_wrapper:nth-child(2) .wy_container
		padding 30px
		background-position: 308px bottom;
		h4
			margin-top: 0
			font-size: 22px
		.why_par
			font-size: 18px
	.wy_wrapper:nth-child(5) .wy_container
		width: 100%
		height auto
		min-height 300px
		margin 30px auto 0
	.first_new
		float: none
		margin-bottom: 30px
	.title_an_rules h3
		font-size: 27px
	.all_posts
		width: 100%
		margin-top: 180px
	#documents_n_soc .soc_buttons
		margin-top: 15px
		float: none
	#exersises_list .lp_single
		height: 440px
	#articles_list .article_col .lp_single
		height 520px
	.counted
		font-size: 55px
	.team_card
		overflow hidden
		.coach
			width: auto;
			top: auto;
			bottom: -15px;
			height: 76%;
			background-size: contain;
			right: -10px;
			left: auto;
	.single_container
	#shulte_create
		width: 100%
	#feedback
		margin-top: 30px
	#game_table td
		height: 50px;
		width: 50px;
		font-size: 26px
	.main_form_in_news
		margin 0
	#menu_icon
		display block
	#menu_container
		width: 250px
		height 100vh
		position: fixed
		top 0
		left -999px
		background-color: rgba(#f7f8fa, .96)
		z-index: 9999
		padding: 20px
		box-shadow: 0 5px 8px rgba(0,0,0,.25)
	#main_menu
		max-width 100%
		margin-bottom: 20px
		li
			display block
			margin-bottom: 10px
			a
				color: #4543fb
	.pc_button
		position: static
		background-color: #4543fb
		color: #fff
	.stickytop
		position: fixed
		top: 33px
	.close
		left 30px
		right auto
	.contacts_container .tel
		margin-bottom: 50px
	.feedback_form
		padding: 50px
	.request_example
		min-height: 550px
	.all_specialists
		margin-top: 0
		width: 225px
@media screen and (max-width 767px)
	#head_logo
		display block
		margin 0 auto
	.contacts
		margin 10px 0
		a
			text-align: center
			line-height: 1.2
			&:nth-child(2)
				margin 0 10px
	.soc_buttons
		width: 175px
		margin 0 auto
		float: none

	#courses_in_record
		padding-top: 50px
	.title_an_rules h3
		margin-top: 0
		text-align: center
	.course_nums
	#why_we h3
	#news h3
		text-align: center
	.lSAction
		position: static
		margin: 25px 0 0 20px
	.title_an_rules
		margin-bottom: 20px
	#about_esoteric
		padding-top: 50px
	#about_esoteric .main_form
	.main_form_in_news
	#students_num
	.wy_wrapper .wy_container
	.wy_wrapper:nth-child(5) .wy_container
		float: none
		width: 450px
		margin: 0 auto 20px
	.wy_wrapper:nth-child(5) .wy_container
		min-height auto
	.secondary_nvc
		width: 100%
		float: none
	.wy_wrapper .wy_container
		height auto
	.wy_wrapper:nth-child(2) .wy_container
		background-position: 400px center
	.main_form_button, .main_form_email
		height: 55px;
		line-height: 55px;
		width: 300px
		margin 0 auto 20px
		display block
	.main_form_title
	.main_form_subtitle
		text-align: center
		margin-bottom: 10px
	.secondary_nvc
		height auto
		margin-bottom: 30px
	.main_form_in_news
		height auto
		.checking
			margin-bottom: 0
	#last_posts
		padding-bottom: 50px
	.all_posts
		width: 180px
		margin-top: 30px
		margin-left: 20px
	.all_posts_before
		display: none
	.all_posts_after
		display block
	#documents_n_soc
		margin-top: 40px
	#main_screen
		padding-bottom: 50px
	#exersises_list
		padding-top: 50px
	#exersises_list .lp_single
	#articles_list .article_col .lp_single
		width: 450px !important;
	#exersises_list
		.exersise_col
			&:last-child
				.lp_single
					margin-bottom: 0
	#shulte
	#faq_list
	#contacts_list
	#color_generator
		padding: 50px 0
	#shulte_cintrols
		float: none
		display: table
		max-width: none;
		width: 100%;
		text-align: center;
		input
			display: table-cell
			width: 30%
			&:nth-child(2)
				margin 0 20px
	#we_in_numbers h3 + p
		margin-bottom: 40px
	.counted
		margin 10px 0
		& + p
			margin-bottom: 40px
	#we_in_numbers h5
		margin-top: 20px
	#modalSubscribe .modal-dialog
		margin 10px auto
	.team_card
		width: 450px
		margin: 0 auto 20px

	#footer
		padding: 40px 0
	.secondary_nvc::after
		width: 75px;
		height: 75px;
		top: 44%;
		left: 0;
		right: 0;
	#documents_n_soc .soc_buttons
		width: 230px
		margin-left: 0
	#number_generator
	#we_in_numbers
	#zener_cards
	#articles_list
	#our_team
	#single
		padding: 50px 0
	.main_title
	.main_subtitle
		max-width 80%
	.modal-dialog
		width: auto
	.title_block
		padding-top: 63px
		overflow hidden
	.title_block h5 + p
		width: 50%
	.title_block img
		width 285px
		height auto
	#footer_contacts .contacts a
	#contacts_list .contacts a
		margin-left: 0
	.contacts_container a, .contacts_container p, .contacts_container .tel
		margin-bottom: 20px
	.contacts_container a span, .contacts_container p span
		display: inline-block
		margin-left: 10px
	.request_example
		min-height: auto
	.all_specialists
		margin 0 auto 80px
		width: 225px
@media screen and (max-width 620px)
	#zc_cards
		width: 435px
		margin 0 auto 20px
		a
			margin-bottom: 10px
			background-size: contain;
			width: 67px;
			height: 100px;
			background-repeat no-repeat
	#myPolitics .modal-title
		width: 70%
		margin 0 auto
@media screen and (max-width 590px)
	#shulte_create td
		width: 50%;
		display: block;
		float: left;
		margin-bottom: 20px
	#shulte_cintrols input
		display: inline-block
		padding 0
@media screen and (max-width 560px)
	#about_eso_video_container h4
		padding 15px 15px 0
		br
			display: none
		small
			display block
	.nsb_title
	#news_soc_buttons
		width: 100%
		display block
	#news_soc_buttons
		max-width: 250px
		margin 20px 0 0
	.title_block img
		right -20px
	.feedback_form
		padding: 30px
@media screen and (max-width 480px)
	article img
		width: 100%
	#main_body #main_screen
		padding 24px 0
	#about_esoteric .main_form
	.main_form_button, .main_form_email
	.wy_wrapper .wy_container
	.main_form_in_news
	.wy_wrapper:nth-child(5) .wy_container
		width: 100%
	#about_esoteric .main_form
		height: auto
		.checking
			margin-bottom: 0
	#students_num
		width: 100%
		height: auto
		p
			position: static
			padding:  0
			margin-top: 40px
	#about_esoteric
		padding-bottom: 40px
	#why_we
		padding-bottom: 30px
	#news
		padding-bottom: 30px
	#exersises_list .lp_single
	#articles_list .article_col .lp_single
		width: 300px !important
		height: auto
		padding-bottom: 30px
	#exersises_list .lp_button
		position: static
		margin: 0 auto 0
		display block
		max-width 202px
	#number_generator_table
	#color_box
		width: 250px
		height 250px
	#number_generator_table tr td a
		line-height:  80px
	#cg_colors
		width: 250px
		a
			height 80px
	#cg_colors a:nth-child(2)
		margin: 0 6px;
	#zc_cards
		width: 261px
	#zc_cards a:nth-child(4)
		margin-left: 54px
	.lp_footer
		position relative
		margin-top: 20px
		.arrow_more
			bottom: 0
		.lp_seen
			bottom: 7px
	#modalSubscribe .modal-dialog
		width: 90%
	.team_card
		width: 300px
		padding  20px 
		height 400px
	.team_card .arrow_more
		position: static
		margin-top: 40px
	#our_team h3
	.team_subtitle
	#our_team h4
		text-align: center
	#footer
		.contacts a span
			display: inline-block
			margin-top: 5px
	#footer_contacts .logo
		width: 180px
		margin-bottom: 20px
	.likeit
		margin: 30px auto
	.title_block img
		width: 250px
	.contacts_container .tel, .contacts_container a, .contacts_container p
		margin-bottom: 10px
@media screen and (max-width 426px)
	.main_title
		font-size: 32px
		margin-bottom: 30px
	.cir_single
		width: 250px !important
		overflow: hidden;
	.cir_title
	#about_eso_video_container h4
	#students_num h5
	.news_video_container h4
		font-size: 20px
	.cir_author
	#about_eso_video_container h4 small
		font-size: 14px
	.cir_img
		height inherit
		width: auto
	.cir_button
		bottom 65px
	.cir_time
		right: auto;
		bottom: 30px;
	#students_num p
		font-size: 60px
	#students_num p span
		font-size: 16px
	#why_we h3
	#news h3
	#our_team h3
		font-size: 32px
		margin-bottom: 30px
		line-height: 1.2
	.news_video_container h4
	#news_soc_block
		padding: 20px
	.nsb_title h4
		font-size: 22px
	.nsb_title p
		font-size: 18px
	#last_posts .title_an_rules h3
		font-size: 24px
		margin-bottom: 30px
	.lp_title
		font-size: 18px
	.lp_title + p
		font-size: 16px
		line-height: 1.2
	.lp_single
		width: 250px !important
		height: 480px;
	#footer
		.col-xs-6
			width: 100%
			float: none
	#footer_contacts .contacts
		margin-bottom: 30px
	#documents_n_soc
		margin-top: 30px
	.adress
		font-size: 14px
		line-height: 1.2
	.main_subtitle
	.likeit h5
		font-size: 18px
		line-height: 1.2
	.likeit h5
		margin-bottom: 20px
	#numbers_result
		font-size: 24px
	#cg_colors
		margin-bottom: 0
	.comments
		font-size: 20px
	#single li, #single p
		font-size: 16px
	.contacts a
		font-size: 14px
	#footer_contacts .contacts a
	#footer_menu li
	.doc_links a
		font-size: 14px
		margin-bottom: 10px
	#we_in_numbers h3
		font-size: 24px
		margin-bottom: 10px
	#we_in_numbers h3 + p
		width: 100%
		margin-bottom: 20px
	.num_title
		font-size: 20px
	.counted
		font-size: 40px
	.counted + p
		font-size: 18px
		margin-bottom: 30px
	#we_in_numbers h5
		font-size: 22px
		margin: 20px 0
	.team_subtitle
		font-size: 18px
		margin 10px 0 20px
	#our_team h4
		font-size: 24px
		margin-bottom: 20px
	.team_card h5
		font-size: 20px
		margin-bottom: 10px
	.title_block h5
		font-size: 20px
		margin-bottom: 20px
		line-height: 1.2
	.competences
	.contact_section
		padding: 30px
	.competences h6
	.coach_contacts h6
		font-size: 22px
	.competences ul li
	.contact_section .coach_else
	.coach_else_list li
	.competences p
	.contact_section p
		font-size: 16px
		margin-bottom: 10px
	.contact_section p:last-of-type
		margin-bottom: 30px
	.coach_contacts h6
		margin-bottom: 20px
	.coach_contacts a
		font-size: 16px
	.faq_title
		padding: 20px
		min-height: 60px
	.faq_title h3
		font-size: 18px
		line-height: 1.2
		max-width: 80%
	.faq_title span
		top: 14px
	.faq_content
		padding: 0 20px 20px
	.faq_content p
		font-size: 16px
		line-height: 1.2
	.feedback_form
		overflow hidden
		padding: 20px
		height auto
	.feedback_form h3
		font-size: 22px
		margin-bottom: 20px
	.feedback_form input
		height 45px
		line-height: 45px
	.feedback_form .checking
		margin-bottom: 20px
		label
			line-height: 1.2
	.close
		left:  20px
	#myPolitics .modal-title
		font-size: 18px
		line-height: 1.2
	#myPolitics .modal-body p
		font-size: 14px
		margin-bottom: 10px
	#shulte_cintrols input
	#shulte_create td
		float: none
		width: 200px
		margin 0 auto 10px
		display block
	#shulte_cintrols input:nth-child(2)
		margin 0 auto 10px
	.contacts_container .tel, .contacts_container a, .contacts_container p
		font-size: 18px
	.feedback_form input
		float: none
		width: 100%
	.consult_form
		margin-bottom: 40px
	#consultation_order h5
		font-size: 26px
		margin-bottom: 20px
	.request_example
		padding: 20px
		margin-bottom: 60px
		&:last-child
			margin-bottom: 30px
	.specialists_title
		font-size: 32px
		margin-bottom: 40px
	#consultation_order
		padding: 30px  0 40px
@media screen and (max-width 380px)
	.main_title
	#single_article .main_title
		font-size: 25px
		max-width: 76%;
	#news h3, #our_team h3, #why_we h3
		font-size: 25px
	#about_esoteric
		padding-bottom: 15px;
	#menu_icon
		right: 10px
		top: -140px
	#head_logo
	.soc_buttons
		margin-left: 0
	.contacts
		text-align: left
		a
			display block
			text-align: left
	.contacts a:nth-child(2)
		margin 0
	.cir_single
	.lp_single
		width: 205px !important
	#about_eso_video_container::after
	.news_video_container::after
		width: 40px
		height 40px
		top:  auto
		left: 10px
		bottom 10px
		right auto
	.main_form_button, .main_form_email, .button
		font-size: 15px
	#myPolitics .modal-title
		width: 50%
		word-break: break-all
		font-size: 16px
	.wy_wrapper .wy_container
	.wy_wrapper:nth-child(2) .wy_container
	.lp_about
		padding: 20px
	.why_title
	.wy_wrapper:nth-child(2) .wy_container h4
		font-size: 20px
	.news_video_container h4
		line-height: 1.2
		font-size: 18px
	#news
		padding-bottom: 0
	.lp_thumbnail
		height 97px
	.lp_cat
		top 20px
		left 20px
	.lp_single
		height 432px
	.why_par
		font-size: 16px
	#game_table td
		height: 40px;
		width: 40px;
		font-size: 22px;
		line-height: 40px;
	#articles_list .article_col .lp_single
		margin-bottom: 20px
	.lp_footer
		margin-top: 30px
	.articles_pagination li a
		height 40px
		width: 40px
		line-height: 40px
		font-size: 18px
	#main_screen
		padding-bottom: 30px
	#single
		padding-top: 30px
	#we_in_numbers
	#our_team
	#faq_list
	#contacts_list
		padding: 30px 0
	#we_in_numbers .button
		width: 100%
	#modalSubscribe .modal-body .main_form
		height: auto;
		padding: 82px 0 0
		.main_form_button
			font-size: 14px
		.checking
			margin-bottom: 0
	.team_card
		width: 250px
	.team_card .coach
		height : 67%
	.title_block
		padding: 80px 20px 0
	.title_block img
		width: 210px
	.competences
		padding: 20px
	.contact_section
		padding: 10px 10px 0;
	.faq_title span
		right 14px
	.articles_pagination
		width: 90%
	#exersises_list .lp_single
	#articles_list .article_col .lp_single
		width: 100% !important