// @media screen and (min-width 1400px)
//     #courses_in_record .row
//     #last_posts .row
//         overflow hidden
//         margin: 0
//     #main_slider_container
//         width: 1140px
//         margin: 0 auto
//         padding: 0 15px
//     #main_slider
//         left -376px
@media screen and (min-width 1400px)
    #courses_in_record .lSSlideOuter
    #last_posts .lSSlideOuter
        width: auto
    #single
        min-height: calc(100vh - 688px)
@media screen and (min-width 1900px)
    .container
    #main_slider_container
        width: 1400px
    .button
        font-size: 22px
        height: 55px;
        line-height: 55px;
    #head_logo
        margin-top: 6px;
    .pc_button
        height: 50px;
        line-height: 50px;
        font-size: 24px;
    .contacts a
        font-size: 20px
        line-height: 41px;
    .soc_buttons a .fa
        width: 42px;
        height: 42px;
        line-height: 42px;
        font-size: 20px;
    #main_menu li
        font-size: 20px
    .main_title
    #why_we h3
    #news h3
        font-size: 52px
    .main_title
        max-width: 1050px;
    .main_subtitle
        font-size: 30px
        max-width 950px
    .title_an_rules h3
        font-size: 39px
    .course_nums
        font-size: 26px
    .lSAction
        width: 160px
        a
            width: 60px;
            height: 60px;
            line-height: 53px;
            color: #f8f8f9;
            font-size: 35px;
    .cir_cat
    .cir_author
    .cir_time
        font-size: 18px
    .cir_title
        font-size:  30px
    .cir_button
        border-radius: 30px;
        width: 185px;
        height: 50px;
        line-height: 50px;
        bottom: 35px;
        font-size: 18px;
    #about_eso_video_container h4
        font-size: 34px
        small
            font-size: 26px;
    #about_eso_video_container:after
        top: 50%
    .main_form
        height 377px
    .main_form_title
    #students_num h5
        font-size: 34px
    .main_form_subtitle
        font-size: 24px
    .main_form_email
    .main_form_button
        font-size: 20px
        width: 350px
    .main_form_email
        margin-top: 20px
    #students_num
        height 376px
        p
            line-height: .6
            span
                font-size: 28px
    .why_title
    .wy_wrapper:nth-child(2) .why_title
        font-size: 29px
    .why_par
    .wy_wrapper:nth-child(2) .why_par
        font-size: 26px
    .wy_wrapper .wy_container
        height 410px
    .news_video_container:after
        top:  50%
    .news_video_container h4
        font-size: 32px
    .secondary_nvc h4
        font-size: 28px
    .secondary_nvc:after
        top: auto
    .nsb_title h4
        font-size: 36px
    .nsb_title p
        font-size: 30px
    #news_soc_buttons .soc_buttons a .fa
        width: 54px;
        height: 54px;
        line-height: 54px;
        font-size: 30px;
    .all_posts
        margin-top: 130px
        font-size: 18px
        line-height: 47px
    .lp_single
        height 630px
    .lp_cat
        font-size: 13px
    .lp_title
        font-size: 28px
    .lp_title+p
        font-size: 24px
    .arrow_more
        width: 46px;
        height: 46px;
        line-height: 36px;
        font-size: 24px
    .lp_seen
        bottom: 38px;
        font-size: 18px;
    #footer_menu li
        font-size: 18px
    .doc_links a
    .adress
        font-size: 20px
    .modal-dialog
        width: 950px
    .modal-title
        font-size:  30px
    .modal-body p
        font-size: 26px
        margin-bottom: 20px
    .modal-header .close
        margin-top: -12px
    #exersises_list .lp_single
    #articles_list .article_col .lp_single
        // width: 100% !important
    #exersises_list .lp_single
        height 555px
    #exersises_list .lp_button
        width: 250px
        padding-top: 8px;
        font-size: 18px
        right: 30px;
        margin: 0 auto;
    .articles_pagination li a
        font-size: 28px;
        width: 60px;
        height: 60px;
        line-height: 60px;
    .single_container
        width: 1000px
    #single li, #single p
        font-size: 28px
    #single h1, #single h2, #single h3, #single h4, #single h5, #single h6
        font-size: 200%
        line-height: 1.3
    #we_in_numbers h3
    #our_team h4
    #single_article .main_title
        font-size: 42px
    #we_in_numbers h3+p
        font-size: 26px
        width: 485px;
    .num_title
    #we_in_numbers h5
        font-size: 31px
    .counted+p
        font-size: 30px
    #modalSubscribe .modal-dialog
        width: 435px
    #our_team h3
        font-size: 53px
    .team_subtitle
        font-size: 30px
        max-width 900px
    .team_card
        width: 100%
    .team_card h5
        font-size: 32px
    .team_card p
        font-size: 24px;
        max-width 320px
    .team_card .arrow_more
        bottom: 100px
    .title_block h5
        font-size: 40px
    .title_block h5+p
        font-size: 25px
        max-width 320px
    .competences h6
    .coach_contacts h6
        font-size: 36px
    .competences ul li
    .coach_contacts a
        font-size: 26px
    .faq_title h3
        font-size: 32px
    .faq_content p
        font-size: 26px
    .faq_title span
        font-size: 40px
        width: 42px;
        height: 42px;
        line-height: 32px;
    #contacts_list .contacts
        width: 280px
    .feedback_form h3
        font-size: 40px
    .feedback_form input
    .feedback_form textarea
        font-size: 22px
    .checking .check_label
        font-size: 20px
    #number_generator_table
        width: 600px
        height 600px
    #number_generator_table tr td a
        font-size: 55px
        line-height: 198px
    #numbers_result
        font-size: 42px
    #numbers_count
    .instruction p
    .instruction li
        font-size: 26px
    #contacts_list .contacts a
        font-size: 26px
        max-width 360px
    #restart
        max-width 300px
    .likeit h5
    #color_box+p
        font-size: 25px
    #color_box
        width: 600px
    #cg_colors
        width: 600px
    #cg_colors a
        width: 32.4%;
    #cg_colors a:nth-child(2)
        margin 0 8px
    .create_table_title
    #myPolitics .modal-body p
        font-size: 26px
    #shulte_create
        width: 88%;
    #shulte_cintrols
        max-width 225px
    #shulte_timer
    #shulte_table h4
        font-size: 32px
    #game_table td
        font-size: 42px
        height: 100px;
        width: 100px;
    .contact_section .coach_else
    .coach_else_list li
        font-size: 26px
    #myPolitics .modal-title
        font-size: 34px

@media screen and (max-width 1199px)
    .contacts a
        &:nth-child(2)
            margin-right: 0
    #main_menu li
        margin-right: 20px
    .cir_single
        width: 280px !important
        height: 323px;
    .cir_title
        margin-top: 120px
    .cir_cat
        top 20px
        left 20px
    .cir_single
        padding: 19px
    .cir_button
        left 19px
        bottom: 29px
    .cir_time
        right 20px
        bottom: 40px
        font-size: 13px
    .cir_time img
        margin-right: 5px
    .main_form_title
        margin-bottom: 0
    .main_form_email
    .main_form_button
        width: 100%
    .main_form_email
        margin 12px auto
    #students_num
        height 194px
    #students_num p
        font-size: 50px
        padding: 0 30px 30px
        line-height: 0.6;
    .wy_wrapper .wy_container
        height 385px
    #news
        .main_form
            height: 290px;
    .news_video_container h4
        padding: 30px
    .secondary_nvc h4
        font-size: 18px
    .secondary_nvc
        overflow hidden
        height 215px
    .nsb_title
        width: 490px
    .lp_single
        width: 280px !important
        height 530px
    #exersises_list .lp_single
    #articles_list .article_col .lp_single
        width: 90% !important
    #articles_list .article_col .lp_single
        height: 480px
    .team_card
    .feedback_form
        width: 100%
    .team_card .coach
        right -45px
    .likeit
    #hypercomments_widget
        width: 100%
    .likeit h5
        line-height: 1.2
    #shulte_create
        width 90%
@media screen and (max-width 991px)
    .contacts
        width: 315px
        float left
        text-align: center
    .soc_buttons
        float: right
    .contacts a
        margin-right: 0
    #main_menu
        max-width 515px
    #about_eso_video_container
        margin-bottom: 30px
    #about_esoteric .main_form
    #news .main_form
        width: 47.5%
        float left
    .main_form_email
        margin: 20px auto
    #students_num
    .secondary_nvc
        width: 47.5%
        float: right
        height 310px
    .secondary_nvc
        height 290px
    #students_num p
        padding 0 30px 45px
        font-size: 73px
    #why_we
    #news
    #last_posts
        padding-top: 0
    .wy_wrapper:nth-child(2) .wy_container
        padding 30px
        background-position: 308px bottom;
        h4
            margin-top: 0
            font-size: 22px
        .why_par
            font-size: 18px
    .wy_wrapper:nth-child(5) .wy_container
        width: 345px
        margin 30px auto 0
    .first_new
        float: none
        margin-bottom: 30px
    .title_an_rules h3
        font-size: 27px
    .all_posts
        width: 100%
        margin-top: 120px
    #documents_n_soc .soc_buttons
        margin-top: 15px
        float: none
    #exersises_list .lp_single
        height: 440px
    #articles_list .article_col .lp_single
        height 520px
    .counted
        font-size: 55px
    .team_card
        overflow hidden
        .coach
            width: auto;
            top: auto;
            bottom: -15px;
            height: 70%;
            background-size: contain;
            right: -10px;
            left: auto;
    .single_container
    #shulte_create
        width: 100%
    #feedback
        margin-top: 30px
    #game_table td
        height: 50px;
        width: 50px;
        font-size: 26px
// @media screen and (max-width 767px)
