// @media screen and (min-width 1400px)
//     #courses_in_record .row
//     #last_posts .row
//         overflow hidden
//         margin: 0
//     #main_slider_container
//         width: 1140px
//         margin: 0 auto
//         padding: 0 15px
//     #main_slider
//         left -376px
@media screen and (min-width 1400px)
    #courses_in_record .lSSlideOuter
    #last_posts .lSSlideOuter
        width: auto
@media screen and (min-width 1900px)
    .container
    #main_slider_container
        width: 1400px
    #head_logo
        margin-top: 6px;
    .pc_button
        height: 50px;
        line-height: 50px;
        font-size: 24px;
    .contacts a
        font-size: 20px
        line-height: 41px;
    .soc_buttons a .fa
        width: 42px;
        height: 42px;
        line-height: 42px;
        font-size: 20px;
    #main_menu li
        font-size: 20px
    .main_title
    #why_we h3
    #news h3
        font-size: 52px
    .title_an_rules h3
        font-size: 39px
    .course_nums
        font-size: 26px
    .lSAction
        width: 160px
        a
            width: 60px;
            height: 60px;
            line-height: 53px;
            color: #f8f8f9;
            font-size: 35px;
    .cir_cat
    .cir_author
    .cir_time
        font-size: 18px
    .cir_title
        font-size:  30px
    .cir_button
        border-radius: 30px;
        width: 185px;
        height: 50px;
        line-height: 50px;
        bottom: 35px;
        font-size: 18px;
    #about_eso_video_container h4
        font-size: 34px
        small
            font-size: 26px;
    #about_eso_video_container:after
        top: 50%
    .main_form
        height 377px
    .main_form_title
    #students_num h5
        font-size: 34px
    .main_form_subtitle
        font-size: 24px
    .main_form_email
    .main_form_button
        font-size: 20px
        width: 350px
    .main_form_email
        margin-top: 20px
    #students_num
        height 376px
        p
            line-height: .6
            span
                font-size: 28px
    .why_title
    .wy_wrapper:nth-child(2) .why_title
        font-size: 29px
    .why_par
    .wy_wrapper:nth-child(2) .why_par
        font-size: 26px
    .wy_wrapper .wy_container
        height 410px
    .news_video_container:after
        top:  50%
    .news_video_container h4
        font-size: 32px
    .secondary_nvc h4
        font-size: 28px
    .secondary_nvc:after
        top: auto
    .nsb_title h4
        font-size: 36px
    .nsb_title p
        font-size: 30px
    #news_soc_buttons .soc_buttons a .fa
        width: 54px;
        height: 54px;
        line-height: 54px;
        font-size: 30px;
    .all_posts
        margin-top: 130px
        font-size: 18px
        line-height: 47px
    .lp_single
        height 550px
    .lp_cat
        font-size: 13px
    .lp_title
        font-size: 28px
    .lp_title+p
        font-size: 20px
    .arrow_more
        width: 46px;
        height: 46px;
        line-height: 36px;
        font-size: 24px
    .lp_seen
        bottom: 38px;
        font-size: 18px;
    #footer_menu li
        font-size: 18px
    .doc_links a
    .adress
        font-size: 20px
    .modal-dialog
        width: 950px
    .modal-title
        font-size:  30px
    .modal-body p
        font-size: 26px
        margin-bottom: 20px
    .modal-header .close
        margin-top: -12px