@font-face {
	font-family: 'HelveticaNeueCyrBlack';
	src: url('../fonts/HelveticaNeueCyrBlack.eot');
	src: url('../fonts/HelveticaNeueCyrBlack.eot') format('embedded-opentype'),url('../fonts/HelveticaNeueCyrBlack.woff2') format('woff2'),url('../fonts/HelveticaNeueCyrBlack.woff') format('woff'),url('../fonts/HelveticaNeueCyrBlack.ttf') format('truetype'),url('../fonts/HelveticaNeueCyrBlack.svg#HelveticaNeueCyrBlack') format('svg');
}
@font-face {
	font-family: 'HelveticaNeueCyrBold';
	src: url('../fonts/HelveticaNeueCyrBold.eot');
	src: url('../fonts/HelveticaNeueCyrBold.eot') format('embedded-opentype'),
		 url('../fonts/HelveticaNeueCyrBold.woff2') format('woff2'),
		 url('../fonts/HelveticaNeueCyrBold.woff') format('woff'),
		 url('../fonts/HelveticaNeueCyrBold.ttf') format('truetype'),
		 url('../fonts/HelveticaNeueCyrBold.svg#HelveticaNeueCyrBold') format('svg');
}
@font-face {
	font-family: 'HelveticaNeueCyrLight';
	src: url('../fonts/HelveticaNeueCyrLight.eot');
	src: url('../fonts/HelveticaNeueCyrLight.eot') format('embedded-opentype'),
		 url('../fonts/HelveticaNeueCyrLight.woff2') format('woff2'),
		 url('../fonts/HelveticaNeueCyrLight.woff') format('woff'),
		 url('../fonts/HelveticaNeueCyrLight.ttf') format('truetype'),
		 url('../fonts/HelveticaNeueCyrLight.svg#HelveticaNeueCyrLight') format('svg');
}
@font-face {
	font-family: 'HelveticaNeueCyrMedium';
	src: url('../fonts/HelveticaNeueCyrMedium.eot');
	src: url('../fonts/HelveticaNeueCyrMedium.eot') format('embedded-opentype'),
		 url('../fonts/HelveticaNeueCyrMedium.woff2') format('woff2'),
		 url('../fonts/HelveticaNeueCyrMedium.woff') format('woff'),
		 url('../fonts/HelveticaNeueCyrMedium.ttf') format('truetype'),
		 url('../fonts/HelveticaNeueCyrMedium.svg#HelveticaNeueCyrMedium') format('svg');
}
@font-face {
	font-family: 'HelveticaNeueCyrRoman';
	src: url('../fonts/HelveticaNeueCyrRoman.eot');
	src: url('../fonts/HelveticaNeueCyrRoman.eot') format('embedded-opentype'),
		 url('../fonts/HelveticaNeueCyrRoman.woff2') format('woff2'),
		 url('../fonts/HelveticaNeueCyrRoman.woff') format('woff'),
		 url('../fonts/HelveticaNeueCyrRoman.ttf') format('truetype'),
		 url('../fonts/HelveticaNeueCyrRoman.svg#HelveticaNeueCyrRoman') format('svg');
}


*
	margin 0
	padding 0
	outline none
body
	background-color: #f7f8fa
h1
h2
h3
h4
h5
h6
	font-family: "HelveticaNeueCyrBold", sans-serif;
ul
	list-style none
.main_title
	font-size: 42px;
	font-family: "HelveticaNeueCyrBlack",sans-serif;
	color: #fff
	line-height: 1
	margin: 0 0 41px
.main_subtitle
	font-size: 20px;
	font-family: "HelveticaNeueCyrRoman", sans-serif;
	color: rgb(255, 255, 255);
	line-height: 1.4;
	max-width: 730px
a
	color: #fefefe
	cursor: no-drop
	&:focus
		text-decoration: none
		outline: 0
p
	line-height: 1
	font-size: 18px;
	font-family: "HelveticaNeueCyrMedium", sans-serif;
	color: rgb(98, 103, 121);
.video_wrapper
	margin 0 auto
	position relative
	&:before
		content ''
		height 0
		padding-top 56.25%
		display block
	img,
	iframe
		position absolute
		width 100%
		height 100%
		display block
		background-color #fff
		border-radius 3px
		border: 0
		top 0
		left 0
		right 0
		bottom 0
		cursor pointer


@-webkit-keyframes autofill {
	to {
		color: #000;
		background: transparent;
	}
}

input:-webkit-autofill {
	-webkit-animation-name: autofill;
	-webkit-animation-fill-mode: both;
}
#main_screen
	width: 100%
	padding: 24px 0 100px
	background-image url(../img/main_bg.jpg)
	background-size: cover
	background-repeat no-repeat
	background-position 0 bottom
	.container
		position relative
#error
	padding: 100px 0
@import 'main/header'
@import 'main/main_screen'
@import 'main/cir'
@import 'main/about_ezo'
@import 'main/why_imp'
@import 'main/news'
@import 'main/last_posts'
@import 'articles/articles'
@import 'articles/single_article'
@import 'main/footer'