.modal.fade(tabindex="-1" role="dialog")#alexModal
	.modal-dialog(role="document")
		.modal-content
			.modal-wrapper
				.modal-body
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
					.title_block
						h5 Александр Кудряшов
						p генеральный директор Master Vision
						img(src="img/alex.jpg", alt="Александр Кудряшов")
					.competences
						h6 Ключевые компетенции
						ul
							li
								span Специалист Дистанционного видения (Вьювер)
							li
								span Почетный парапсихолог России
							li
								span Расстановщик по методу Берта Хеллингера и Зиглинды Шнайдер
							li
								span Мастер по работе с детскими и родовыми травмами
					.contact_section
						p.coach_else Более 1000 человек на личной консультации избавил от страхов, фобий, зажимов, дискомфортов и других проблем, которые мешали им идти к успеху!
						.coach_contacts
							h6 Контакты
							a(href="skype:add?aleksandr-kudryashov") 
								span skype: 
								| aleksandr-kudryashov
							a(href="mailto:info@mastervision.su") 
								span e-mail: 
								|  info@mastervision.su