.modal.fade(tabindex="-1" role="dialog")#andreyModal
	.modal-dialog(role="document")
		.modal-content
			.modal-wrapper
				.modal-body
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
					.title_block
						h5 Андрей Грудин
						p управляющий партнер MasterVision
						img(src="img/andrey.jpg", alt="Андрей Грудин")
					.competences
						h6 Ключевые компетенции
						ul
							li
								span Бизнес консультант
							li
								span Консалтер
							li
								span Маркетолог
							li
								span Специалист в области On-line продаж
					.contact_section
						ul.coach_else_list
							li Закончил Государственный университет по специальности Менеджмент
							li Учредитель нескольких успешных бизнесов. Коммерческий директор академии MasterVision
							li Консультировал персонал банка «Росбанк» группы SOCIETE GENERALE, рестораны «Садык», группу компаний «МоРо», винный дом «Каудаль»
							li Запустил более 100 успешных тренингов со средним чеком более 25000 руб. Среднее количество учеников на каждом тренинге более 150 чел.
						.coach_contacts
							h6 Контакты
							a(href="skype:add?gagarin581013") 
								span skype: 
								| gagarin581013
							a(href="mailto:info@mastervision.su") 
								span e-mail: 
								|  info@mastervision.su