.modal.fade(tabindex="-1" role="dialog")#basileModal
	.modal-dialog(role="document")
		.modal-content
			.modal-wrapper
				.modal-body
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
					.title_block
						h5 Василий Попов
						p эзотерик, мистик, целитель
						img(src="img/basile.jpg", alt="Василий Попов")
					.competences
						//- h6 Ключевые компетенции
						p В нынешнем воплощении занимается духовной практикой более 15 лет, но, по факту, истоки опыта Мастера теряются в глубине веков
						p Имея в своем распоряжении обширные знания из области Магии Таро, Рун, Каббалистики, подкрепленные современными научными исследованиями, Василий Попов доносит сложнейшую Мудрость Сфер понятно, четко, доходчиво
						p У него прошли обучение уже более 5000 студентов, которые успешно раскрыли свой потенциал и применяют новые способности в жизни
						p За годы практики помог сотням людей посредством прямого воздействия на энергетику организма, управления ситуациями, решения проблем на картах Таро
						p С помощью регрессивного гипноза десятки людей проникли в тайны своих прошлых воплощений, познали смысл своего воплощения в этом мире и заново осмыслили свою жизнь

					.contact_section
						//- p.coach_else Более 1000 человек на личной консультации избавил от страхов, фобий, зажимов, дискомфортов и других проблем, которые мешали им идти к успеху!
						.coach_contacts
							h6 Контакты
							//- a(href="skype:add?aleksandr-kudryashov") 
							//- 	span skype: 
							//- 	| aleksandr-kudryashov
							a(href="mailto:info@mastervision.su") 
								span e-mail: 
								|  info@mastervision.su