.modal.fade(tabindex="-1" role="dialog")#jannaModal
	.modal-dialog(role="document")
		.modal-content
			.modal-wrapper
				.modal-body
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
					.title_block
						h5 Жанна Абрамова
						p психолог, женский тренер
						img(src="img/janna.jpg", alt="Жанна Абрамова")
					.competences
						//- h6 Ключевые компетенции
						ul
							li
								span Мастер практической психологии и технологий осознанности, коуч, системный расстановщик, процессор техники РПТ, специалист по метафорическим картам, эксперт TV-радио-шоу, информационных передач, блоггер, автор тренинговых программ и книг по женской психологии. 
							li
								span Жанна более 10 лет работает с женщинами и является экспертом в области отношений между мужчиной и женщиной. Также, постоянно занимается работой с детьми и социальными проектами.
							li
								span Основатель «Академии Семьи и Брака»
							li
								span Мастер практической психологии, факультет клинической психологии Академии при президенте РФ РАНХиГС
							li
								span Специалист по метафорическим картам (МАК)
							li
								span Системный расстановщик, изучала семейную психотерапию в ИИСТ
							li
								span Процессор Техники РПТ (Саймон Роуз) , Тетахилинга (THInK)
							li
								span Изучала гипнотерапию, Московский институт гипноза
							li
								span Коуч, женский тренер, автор трансформационных программ «Анатомия Отношений», «Управление реальностью», «Мышление будущего», «От перца к сердцу», «Как получать подарки», «МАК – сам себе доктор», «Замуж за 2 недели», «Деньги в голове», «Дуэль с ленью», «Возврат ваших вложений», «Третий лишний или как устранить соперницу»

					.contact_section
						//- p.coach_else Более 1000 человек на личной консультации избавил от страхов, фобий, зажимов, дискомфортов и других проблем, которые мешали им идти к успеху!
						.coach_contacts
							h6 Контакты
							//- a(href="skype:add?aleksandr-kudryashov") 
							//- 	span skype: 
							//- 	| aleksandr-kudryashov
							a(href="mailto:info@mastervision.su") 
								span e-mail: 
								|  info@mastervision.su