.modal.fade(tabindex="-1" role="dialog")#lidiaModal
	.modal-dialog(role="document")
		.modal-content
			.modal-wrapper
				.modal-body
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
					.title_block
						h5 Лидия Хелль
						p астролог
						img(src="img/lidia.jpg", alt="Лидия Хелль")
					.competences
						//- h6 Ключевые компетенции
						ul
							li
								span Любимые направления в Астрологии:
								ul
									li
										span Космограмма
									li
										span Формула Души
									li
										span Транзиты
									li
										span Хорарная Астрология
									li
										span Совместимость
 
							li
								span Таролог с 12-летним стажем. 
							li
								span Имеет 2 ступени Усуи Рэйки Риохо
							li
								span Исследует разные способы гадания: карты Ленорман, гадание на воске, гадание на кофейной гуще и другие.
							li
								span Работает с разными метафорическими картами как колода OH, Morena, Persona, Personita, Tan Doo
							li
								span Спец-образование: 
								ul
									li
										span Колледж классической Астрологии - Allgeier и Noe, закончила 3 летнее обучение с сертификатом мастера.
									li
										span Школа русской Астрологии "Волхвы", закончила с дипломом - Формула Души.
									li
										span ВШКА, разные семинары и мастер-классы
					.contact_section
						p Практикует астрологию 9 лет. Счастлива тем, что занимается любимым делом и уже помогла многим людям найти себя в этой жизни.  
						p Ведущая  школы Астрологии   - Счастливый Юпитер с 2014 года. Открыла свою школу Астрологии не только для того, чтобы передать  свои знания и опыт, но и помочь людям стать астрологами-профессионалами.  
						p Предпочитает заниматься со студентами длительное время, что помогает им начать с нуля и стать в течение обучения профессиональным астрологом. Система обучения построена таким образом, что каждый студент может дойти до работы с незнакомым клиентом и, начав помогать другим, зарабатывать с помощью Астрологии.
						.coach_contacts
							h6 Контакты
							//- a(href="skype:add?aleksandr-kudryashov") 
							//- 	span skype: 
							//- 	| aleksandr-kudryashov
							a(href="mailto:info@mastervision.su") 
								span e-mail: 
								|  info@mastervision.su