.modal.fade(tabindex="-1" role="dialog")#reginaModal
	.modal-dialog(role="document")
		.modal-content
			.modal-wrapper
				.modal-body
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
					.title_block
						h5 Регина Крашенинникова
						p пальмистр, хиромант
						img(src="img/regina.jpg", alt="Регина Крашенинникова")
					.competences
						//- h6 Ключевые компетенции
						ul
							li
								span Cпециалист международной Ассоциации Ведической Пальмистрии, 
							li
								span Ученый секретарь Российского научного хирологического общества (г. Москва)
							li
								span Пальмистр
							li
								span Директор Консультационного биометрического центра "Предназначение".
							li
								span Автор книги "Зеркало кармы. Пособие по кармической хиромантии". Написана в соавторстве с хиромантом Борисом Акимовым.

					.contact_section
						p Мой путь в хиромантию начинался с журналистики. Клуб региональной журналистики в Москве дал мне опыт общения с успешными и интересными людьми, с теми, чья жизнь может послужить примером и неисчерпаемым кладезем житейской мудрости: журналист Владимир Познер, Леонид Парфенов, социолог Юрий Левада, писатель Людмила Улицкая, бизнесмен Александр Лебедев, адвокат Юрий Шмидт и многие другие
						p Общение во время интервью с победителями программы ТНТ «Битва экстрасенсов» Александром Литвиным и Натальей Воротниковой стало стимулом, толчком для того, чтобы я почувствовала в себе силы помогать не только себе, но и другим людям.
						p Более семи лет я консультирую людей и помогаю им в поиске ответа на главный вопрос: 
						p «В чем смысл жизни и мое предназначение?» Сотни людей после консультации по хиромантии нашли свое призвание, открыли бизнес, нашли любимую работу, восстановили здоровье, наладили отношения с близкими, нашли свою любовь.
						p Выпускники моей Школы пальмистрии (хиромантии) успешно применяют полученные знания в своей жизни, анализируя руки родных, близких, друзей. Многие студенты после окончания курса становятся профессиональными хиромантами: открывают центры по развитию человека, свои Школы хиромантии, консультационные биометрические центры, используют знания в качестве инструментов психологического диагностирования
						.coach_contacts
							h6 Контакты
							//- a(href="skype:add?aleksandr-kudryashov") 
							//- 	span skype: 
							//- 	| aleksandr-kudryashov
							a(href="mailto:info@mastervision.su") 
								span e-mail: 
								|  info@mastervision.su