.modal.fade(tabindex="-1" role="dialog")#vedaModal
	.modal-dialog(role="document")
		.modal-content
			.modal-wrapper
				.modal-body
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
					.title_block
						h5 Ольга Веда
						p потомственная волшебница в III поколении
						img(src="img/veda.jpg", alt="Ольга Веда")
					.competences
						//- h6 Ключевые компетенции
						p Волшебница в 3 поколении, постоянно обучающаяся современным эзотерическим и магическим практикам, имеет множество дипломов.
						p Начала  обучаться еще в детстве, помогая своей бабушке в различных ритуалах, тогда же получила древние магические знания, но магия как и другая наука не стоит на месте. Уже во взрослом возрасте прошла школу ДЭИР, изучала метод системных расстановок, закончила Американскую школу гипноза, обучалась в институте реинкарнационики. Живет в Египте, где познает и успешно применяет секретные знания Египетской магии, которая была доступна только жрецам Фараонов.
						p Благодаря объединению древних знаний и современных методик ею была выработана авторская программа, направленная на исцеление души и тела и гармонизацию всех областей жизни не только обратившегося ко мне человека, но и его окружения автоматически.
						p Исключительность ее метода состоит в том, что в процессе работы она не только убирает проблему, но и дает Вам инструменты для коррекции Вашей жизни, то есть на подсознательном уровне Вы обучаетесь работать самостоятельно, что в дальнейшем позволит Вам не обращаться ни к кому и не тратить Ваши деньги.
					.contact_section
						//- p.coach_else Более 1000 человек на личной консультации избавил от страхов, фобий, зажимов, дискомфортов и других проблем, которые мешали им идти к успеху!
						.coach_contacts
							h6 Контакты
							//- a(href="skype:add?aleksandr-kudryashov") 
							//- 	span skype: 
							//- 	| aleksandr-kudryashov
							a(href="mailto:info@mastervision.su") 
								span e-mail: 
								|  info@mastervision.su